html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, pre, a, abbr, acronym,address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

strong{
    font-weight:bold;
}

body {
    color: $grey;
    font-family:$font_main;
    font-size: 14px;
    font-style: normal;
    line-height:1.5;
    background:#acb0b1;
    overflow-x:hidden;
    font-weight: 300;
}

a:hover,a:active {
    outline: 0;
}

button:focus{
    border:none;
    outline:0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color:$black;
}

a:hover {
    text-decoration: none;
    color:$black;
}

a:focus {
    text-decoration: none;
    outline: none;
    color:$black;
}


h1,h2,h3,h4,h5,h6 {
    color:$black;
}

h1{
    font-size:48px;
    line-height:60px;
}

h2{
    font-size: 36px;
    line-height: 44px;
}

h3 {
    font-size:30px;
    line-height:40px;
}

h4{
    font-size:24px;
    line-height:30px;
}

h5{
    font-size: 20px;
    line-height:26px;
    font-weight: 300;
    color: $primary-color;
    margin-bottom: 10px;
    padding-bottom: 10px;

    &.normal {
        color: $grey;
        font-weight: bold;
        font-size: 18px;
    }
}

h6{
    font-size:16px;
    line-height:24px;
}
p{
    font-size:14px;
    line-height:25px;
    &.lead {
        font-size:18px;
        line-height:29px;
        margin-bottom:0;
        font-weight:400;
    }
    &.text-muted {
        font-size: 14px;
    }
}
.force-UTF-8{
    content: "¡";
}
dt {
    font-weight: 600;
}
code {
    background:transparent;
}
::-webkit-file-upload-button { cursor:pointer; }