$green: #4aa23c;
$seagreen: #007153;
$yellow: #f8b32d;
$red: #f33923;
$blue: #1f8c4c;
$skyblue: #00a5d1;
$lightblue: #57bce1;
$navytblue: #322e56;
$pink: #e7368d;
$babypink: #e284a3;
$orange: #ff6300;
$brown: #6d300e;
$purple: #ac235c;
$violet: #6a3a83;
$lightviolet: #bb9ac1;
$gold: #e58b25;
$silver: #83878d;
$black: #444444;
$grey: #878787;
$beige: #f7ce99;
$light_grey: #dedede;
$menu_bg_col_1: #24333e;
$menu_bg_col_2: #24333e;
$white: #fff;
$twitter_blue: #00aced;
$light_white: rgba(255,255,255,0.1);
$xtra_lighter_grey: rgba(33,33,33,0.05);
$xtra_lighter_white: rgba(255,255,255,0.05);
$font_main: 'Roboto', sans-serif;

$primary-color: rgb(39, 174, 95);