#register-modal.modal {
	text-align: center;
	z-index: 9999999999;

	.modal-dialog {
		display: inline-block;
		text-align: left;
		vertical-align: middle;
	}

	.modal-dialog {
		background: #27AE5F;
	}

	.modal-content {
		box-shadow: none;
		background: #27AE5F;
		border: none;
	}

	.modal-header {
		border: none;
		color: #fff;
		padding: 30px 30px 0;

		button {
			font-size: 25px;
			color: #fff;
			opacity: 1;
		}
	}

	.modal-body {
		padding: 30px;

		.form-control {
			margin-bottom: 15px;
			border-radius: 0;
			padding: 13px 15px;
			height: auto;
			border: none;
		}

		.btn {
			background: #19713d;
			color: #fff;
			padding: 13px 25px;
			border-radius: 0;
			font-weight: bold;
			width: 100%;
		}

		p, label {
			color: #fff;
			font-size: 13px;
			text-align: center;
			margin-top: 15px;
		}

		label {
			text-align: left;
			margin-left: 15px;
			margin-top: 0;
		}

		.image {
			text-align: center;
		}

		.checkbox {
			margin-top: 0;
		}

		input[type="checkbox"] {
			margin-left: 0;
			margin-top: 28px;
		}
	}
}

@media screen and (min-width: 768px) {
	.modal:before {
		display: inline-block;
		vertical-align: middle;
		content: " ";
		height: 100%;
	}
}

.modal-backdrop {
	z-index: 999999999;
}