/*-----------------------------------------------------------------------------------

 [Table of contents]

 1. Base (Global style for some elements)
 2. Header (Logo, navigation and Main banner)
 3. Sign Up (Section)
 4. Features (Section)
 5. Description Two Colom (Section)
 6. Video (Section)
 7. Why us - Statistics (Section)
 8. Description Two Colom (Section)
 9. Screens (Section)
 10. Testimonials (Section)
 11. Pricing (Section)
 12. Team (Section)
 13. Get Download Link (Section)
 14. Clients Logo (Section)
 15. Freetrial (Section)
 16. Contact Details (Section)
 17. footer (Section)

-----------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------

 [Global CSS for some elements]

 # html
 # body
 # a tag
 # responsive images
 # input placeholders
 # i tag for font awesome icons
 # paragraph
 # hr tag for horizontal line
 # white section
 # dark section
 # align center (class)
 # bootstrap fluid container
 # theme button
 # swiper (carousel slider)

-----------------------------------------------------------------------------------*/

* {
    padding: 0;
    margin: 0;
}

.clear {
    float: none;
    clear: both;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #8490a4;
    font-size: 15px;
    line-height: 1.7;
}

.heading {
    float: left;
    width: 100%;
    margin-bottom: 60px;
}

.content-page {
    p {
        margin-bottom: 20px;
    }

    ul {
        margin-left: 30px;
        list-style: square;
        margin-top: -20px;
        margin-bottom: 20px;
    }

    margin-bottom: 100px;
}

.heading span, .search-sec span {
    display: block;
    font-weight: 600;
    color: #b6b6b6;
    font-size: 12px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.heading h2, .search-sec h2 {
    color: #000000;
    font-size: 40px;
    font-weight: 500;
    text-align: center;
    margin: 0;
    background: url(../images/line.png) no-repeat bottom center;
    padding-bottom: 20px;
}

.dark-color-bg {
    background: #27ae5f;
}

.gray-bg {
    background: #efefef;
}

.blue-bg {
    background: #24333e;
}

.dark-section .heading span {
    display: block;
    font-weight: 600;
    color: #FFFFFF;
    font-size: 12px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.dark-section .heading h2 {
    color: #FFFFFF;
    font-size: 40px;
    font-weight: 500;
    text-align: center;
    margin: 0;
    background: url(../images/line.png) no-repeat bottom center;
    padding-bottom: 20px;
}

.left-heading span {
    font-weight: 400;
    color: #b6b6b6;
    font-size: 12px;
    text-transform: uppercase;
    padding-bottom: 5px;
    display: block;
}

.left-heading h2 {
    font-weight: 500;
    color: #000000;
    font-size: 40px;
    line-height: 40px;
    margin: 0;
    background: url(../images/line.png) no-repeat left bottom;
    padding-bottom: 20px;
    margin-bottom: 25px;
}

/*-----------------------------------------------------------------------------------

 Header (section)

-----------------------------------------------------------------------------------*/

.menu li {
    display: inline-block;
    list-style: none;
    padding: 0 19px;
}

#menu-icon {
    display: none;
}

.menu {
    text-align: right;
    margin-top: 7px;
}

.menu li a {
    font-weight: 400;
    color: #515151;
    text-decoration: none;
    font-size: 14px;
}

.menu li a:hover {
    border-bottom: 1px solid #fff;
}

.header {
    background: url(../images/hero-bg.jpg) no-repeat top center;
    background-size: cover;
    width: 100%;
    padding-top: 20px;
    position: relative;
    min-height: 85px;
}

.header.no-hero {
    background: none;
}

.toping {
    text-align: center;
    padding-top: 50px;
}

.center-block {
    text-align: center;
    margin-bottom: -100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.toping img {
    text-align: center;
    border: #cfcfcf solid 1px;
    border-radius: 6px;

    -webkit-box-shadow: 0px 8px 51px -4px rgba(144, 155, 165, 0.4);
    -moz-box-shadow: 0px 8px 51px -4px rgba(144, 155, 165, 0.4);
    box-shadow: 0px 8px 51px -4px rgba(144, 155, 165, 0.4);
}

.header h1 {
    font-weight: 300;
    color: #000000;
    text-align: center;
    font-size: 52px;
    padding-top: 50px;
}

.header p {
    font-weight: 400;
    color: #888888;
    text-align: center;
    font-size: 20px;
    margin-top: 40px;
    line-height: 2;
}

.bnts {
    text-align: center;
    padding-top: 35px;
}

.btn2 {
    font-weight: 600;
    color: #fff;
    font-size: 13px;
    text-transform: uppercase;
    padding: 15px 30px;
    line-height: 20px;
    height: 50px;
    text-decoration: none !important;
    display: inline-block;
    background: #27ae5f;

    -webkit-box-shadow: 0px 15px 32px 1px rgba(0, 0, 0, 0.23);
    -moz-box-shadow: 0px 15px 32px 1px rgba(0, 0, 0, 0.23);
    box-shadow: 0px 15px 32px 1px rgba(0, 0, 0, 0.23);
}

.btn2:hover {
    color: #FFFFFF;
    background: #19954c;
    transition: all ease .7s;
}

.border-btn {
    font-weight: 600;
    color: #fff;
    font-size: 13px;
    text-transform: uppercase;
    padding: 12px 50px;
    line-height: 20px;
    height: 45px;
    text-decoration: none !important;
    display: inline-block;
    margin-left: 25px;
    border: #FFFFFF solid 2px;
    background: none;
}

/*Sticky Header*/

.header-top.affix {
    top: 0;
    width: 100%;
    z-index: 9999 !important;
    margin: 0 auto;
    left: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.9);
    padding: 15px 0;
}

.affix + .container-fluid {
    padding-top: 70px;
}

/*End Header*/

/*-----------------------------------------------------------------------------------

free trial Sign up

-----------------------------------------------------------------------------------*/

.section1 {
    padding: 100px 0 130px 0;
    text-align: center;
}

.grop {
    max-width: 760px;
    margin: 0 auto;
}

.grop .form-control, .grop .btn {
    height: 45px;
    width: 36.6%;
}

.grop .input-group {
    width: 100%;
    -webkit-box-shadow: 0px 8px 51px -4px rgba(144, 155, 165, 0.4);
    -moz-box-shadow: 0px 8px 51px -4px rgba(144, 155, 165, 0.4);
    box-shadow: 0px 8px 51px -4px rgba(144, 155, 165, 0.4);
}

.grop .btn {
    background: #27ae5f;
    color: #fff;
    font-size: 13px;
    font-weight: 400;
    margin-left: -75px;
    position: relative;
    text-transform: uppercase;
    z-index: 3 !important;
}

.grop .btn:hover {
    background: #239c55;
    transition: all ease .7s;
}

.grop input {
    border: 1px solid #e2e7ec;
    color: #a1a1a1;
    font-size: 13px;

}

.text1 {

}

.text2 {

}

.grop {
    margin-top: 45px;
}

.grop p {
    font-weight: 400;
    color: #a1a1a1;
    font-size: 13px;
    text-align: center;
    padding-top: 25px;
}

/* End free trial Sign up */

/*-----------------------------------------------------------------------------------

features

-----------------------------------------------------------------------------------*/

.section2 {
    padding-top: 180px;
    padding-bottom: 80px;
}

.f-box {
    text-align: center;
    padding: 40px 40px 40px 40px;
    max-width: 360px;
    margin: 0 auto;

}

.f-box:hover {
    background: #239c55;
    transition: all ease .7s;
    border-radius: 4px;
}

.f-box a, .f-box h3 {
    font-size: 20px;
    color: #FFFFFF;
    font-weight: 500;
    transition: all 0.1s ease;
    display: block;
    padding-top: 30px;
}

.f-box:hover a {
    color: #FFFFFF;
}

.f-box:hover p {
    color: #FFFFFF;
}

.f-box p {
    padding-top: 20px;
    transition: all 0.1s ease;
    color: #cee8d6;

}

.div {
    padding: 30px 0;
}

.topmr {
    margin-top: 50px;
}

/* End features */

/*-----------------------------------------------------------------------------------

 dashbord section

-----------------------------------------------------------------------------------*/

.content-area {
    float: left;
    width: 95%;
}

.content-area p {
    font-size: 15px;
    margin: 0;
}

.nomber-text {
    padding-top: 50px;
}

.nomber-text-row {
    padding-bottom: 35px;
}

.nomber-text-row-inner {
    float: left;
    width: 100%;
}

.nomber-text-row-inner h2 {
    display: block;
    font-weight: 600;
    color: #777580;
    font-size: 18px;
    line-height: 2;
}

.nomber-text-row-inner p {
    font-size: 15px;
    line-height: 1.7;
}

/*-----------------------------------------------------------------------------------

 Two Colom section

-----------------------------------------------------------------------------------*/

.con1 {
    padding-top: 0px;
}

.con1 .p {
}

.tgimg {
    float: left;
    min-width: 55px;
    padding-top: 8px;
    width: 10%;
}

.tgcon {
    float: left;
    width: 85%;
}

.tgcon span {
    display: block;
    font-weight: 400;
    color: #1a1a1a;
    font-size: 18px;
}

.tgcon p {
    font-weight: 400;
    color: #8a8a8a;
    font-size: 13px;
    line-height: 26px;
}

.tags {
    padding-top: 60px;
}

.tg {
    padding-bottom: 45px;
}

.img3 {
    width: 1000px;
    height: auto;
    position: absolute;
    top: 0;
    right: -430px;
}

.img3 img {
    border: #e2e7ec solid 1px;
    border-radius: 6px;
    -webkit-box-shadow: 0px 0px 51px 7px rgba(144, 155, 165, 0.24);
    -moz-box-shadow: 0px 0px 51px 7px rgba(144, 155, 165, 0.24);
    box-shadow: 0px 0px 51px 7px rgba(144, 155, 165, 0.24);
}

.img4 {
    width: 1000px;
    height: auto;
    position: absolute;
    top: 0;
    left: -450px;
}

.img4 img {
    border: #e2e7ec solid 1px;
    border-radius: 6px;
    -webkit-box-shadow: 0px 7px 51px 0px rgba(144, 155, 165, 0.24);
    -moz-box-shadow: 0px 7px 51px 0px rgba(144, 155, 165, 0.24);
    box-shadow: 0px 7px 51px 0px rgba(144, 155, 165, 0.24);
}

.section3 {
    padding: 180px 0;
}

.two-colom-image {
    float: left;
    width: 100%;
    text-align: left;
}

/* End two colom */

/*-----------------------------------------------------------------------------------

 Two Colom section

-----------------------------------------------------------------------------------*/

.section-two-colom {
    padding: 0 0 80px 0;
}

.content-area-second {
    padding: 120px 0;
}

.content-area-second .p {
}

.two-colom-image-right {
    float: right;
    width: 100%;
    text-align: right;
}

.highlited-text {
    color: #27ae5f;
}

/* End two colom */

/*-----------------------------------------------------------------------------------

video

-----------------------------------------------------------------------------------*/

.section4 {
    background-size: cover;
    width: 100%;
    padding: 70px 0 0 0;
}

.section4 p {
    text-align: center;
    margin: 35px 0;
}

.video-section-image {
    float: left;
    width: 100%;
    text-align: center;
}

.mac {
    padding: 40px 0 60px 0;
}

.mac {
    text-align: center;
}

/* End video */

/*-----------------------------------------------------------------------------------

Our strong numbers

-----------------------------------------------------------------------------------*/

.section5 {
    padding: 100px 0;

}

.our-box {
    max-width: 295px;
    margin: 0 auto;
    padding: 30px 0px;
    text-align: center;

}

.down-box {
    padding-top: 40px;
}

.down-box h3 {
    margin: 0;
    font-weight: 300;
    color: #1a1a1a;
    font-size: 50px;
    text-transform: uppercase;
}

.down-box span {
    display: block;
    color: #FFFFFF;
    font-size: 13px;
    font-weight: 600;
    font-size: 14;
    text-transform: uppercase;
}

/* End Our strong numbers */

/*-----------------------------------------------------------------------------------

Dashboard

-----------------------------------------------------------------------------------*/

.section6 {
    padding: 90px 0;
    overflow: hidden;
}

.ttl4 span {
    color: #b6b6b6;
    display: block;
    font-size: 12px;
    font-weight: 600;
    padding-bottom: 5px;
    text-transform: uppercase;
}

.ttl4 {
    margin-bottom: 35px;
    margin-top: 0px;
}

.ttl4 h2 {
    background: url("../images/line.png") no-repeat scroll left bottom;
    color: #3e355f;
    font-size: 40px;
    font-weight: 600;
    line-height: 40px;
    margin: 0 0 25px;
    padding-bottom: 20px;
}

.acc {
    font-weight: 500;
    color: #fff !important;
    text-transform: uppercase;
    text-align: center;
    background: #27ae5f;
    padding: 12px 40px;
    display: inline-block;
    font-style: 13px;
    text-decoration: none !important;
    margin-top: 40px;

    -webkit-box-shadow: 0px 8px 51px -4px rgba(144, 155, 165, 0.73);
    -moz-box-shadow: 0px 8px 51px -4px rgba(144, 155, 165, 0.73);
    box-shadow: 0px 8px 51px -4px rgba(144, 155, 165, 0.73);

}

.acc:hover {
    background: #239c55;
    transition: all ease .7s;
}

/* End Dashboard */

/*-----------------------------------------------------------------------------------

screens - tab style gallery

-----------------------------------------------------------------------------------*/

.screen-section {
    padding: 90px 0 0 0;
}

.tab-screen-image {
    width: 100%;

    -webkit-box-shadow: 0px -5px 62px -7px rgba(0, 0, 0, 0.34);
    -moz-box-shadow: 0px -5px 62px -7px rgba(0, 0, 0, 0.34);
    box-shadow: 0px -5px 62px -7px rgba(0, 0, 0, 0.34);
}

/*-----------------------------------------------------------------------------------

screens - 3d style gallery

-----------------------------------------------------------------------------------*/

.section7 {
    padding: 90px 0;
    background: url(../images/bg4.jpg) no-repeat top center;
    background-size: cover;
}

.bx-controls-direction {
    display: none;
}

.slide1 {
    text-align: center;
    border-radius: 12px;
    padding: 0 5%;
    margin: 0 10px;
    padding-top: 90px;
    background: #fff;
}

.slide1 p {

}

.slide1 span {
    color: #27ae5f;
    font-size: 15px;
    display: block;
    font-weight: 700;
    text-align: center;
    padding: 30px 0;
}

.dg-container {
    width: 100%;
    position: relative;
}

.dg-wrapper {
    width: 644px;
    height: 464px;
    margin: 0 auto;
    position: relative;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-perspective: 1000px;
    -moz-perspective: 1000px;
    -o-perspective: 1000px;
    -ms-perspective: 1000px;
    perspective: 1000px;
}

.dg-wrapper a {
    display: block;
    height: auto;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.dg-wrapper a.dg-transition {
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.dg-wrapper a img {
    display: block;
    width: 100%;
}

.dg-wrapper a div {
    font-style: italic;
    text-align: center;
    line-height: 50px;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);
    color: #333;
    font-size: 16px;
    width: 100%;
    bottom: -55px;
    display: none;
    position: absolute;
}

.dg-wrapper a.dg-center div {
    display: block;
}

.dg-container nav {
    width: 58px;
    position: absolute;
    z-index: 1000;
    bottom: 20px;
    left: 50%;
    margin-left: -29px;
}

.dg-container nav span {
    float: left;
    cursor: pointer;
    width: 24px;
    height: 25px;
}

.dg-container nav span:hover {
    opacity: 1;
}

.dg-container nav span.dg-next {
    background-position: top right;
    margin-left: 10px;
}

/* End screens */

/*-----------------------------------------------------------------------------------

testimonials

-----------------------------------------------------------------------------------*/

.section8 {
    padding: 90px 0 90px 0;
}

.section8 .row {
    margin: 0;
}

.slick-list {
    padding: 0 !important;
}

.slick-arrow {
    display: none !important;
}

.photo {
    margin: 0 auto;
    text-align: center;
}

.photo {
    margin: 0 auto -45px;
    text-align: center;
}

.slick-slide {
    opacity: 0.4;
}

.slick-slide {
    margin-bottom: 40px;
}

.slick-center {
    opacity: 1 !important;
}

.slick-center .slide1 {
    -webkit-box-shadow: 0px 20px 51px -1px rgba(144, 155, 165, 0.24);
    -moz-box-shadow: 0px 20px 51px -1px rgba(144, 155, 165, 0.24);
    box-shadow: 0px 20px 51px -1px rgba(144, 155, 165, 0.24);
}

/* End  testimonials */

/*-----------------------------------------------------------------------------------

pricing

-----------------------------------------------------------------------------------*/
.payment-periods {
    margin: 0 auto;
    width: 100%;
    max-width: 600px;
    color: #fff;
    text-align: center;

    .options {
        margin-top: 10px;
        display: flex;
        width: 100%;
        max-width: 600px;

        .option {
            background: #176638;
            color: #fff;
            padding: 15px 20px;
            width: calc(100% / 3);
            max-width: calc(600px / 3);
			text-align: center;
            cursor: pointer;
            font-size: 16px;
            -ms-flex-align: center;
            -webkit-align-items: center;
            -webkit-box-align: center;
            align-items: center;
            display: flex;

            div {
                width: 100%;
                text-align:  center;
            }

            span {
                display: block;
                font-size: 12px;
            }

            &:first-child {
                border-radius: 4px 0 0 4px;
            }

            &:last-child {
                border-radius: 0 4px 4px 0;
            }

            &:hover {
                background: #1c7b44;
            }

            &.active {
                background: #fff;
                color: #176638;
                font-weight: bold;

                &:hover {
                    background: #fff;
                }

                span {
                    font-weight: normal;
                }
            }
        }
    }
}

.section9 {
    padding: 90px 0;
}

.pricing-bg {
    float: left;
    width: 100%;
    height: 470px;
}

.pricing-bg-large {
    float: left;
    width: 100%;
    height: 670px;
}

.pricing-inner-container {
    float: left;
    width: 100%;
    margin-top: -372px;
}

.pricing-inner-container-large {
    float: left;
    width: 100%;
    margin-top: -572px;
}

.pricing-boxes {
    float: left;
    width: 100%;
    margin-top: 30px;
}

.plan {
    background: #fff;
    border-radius: 4px;

    -webkit-box-shadow: 0px 20px 51px -1px rgba(144, 155, 165, 0.29);
    -moz-box-shadow: 0px 20px 51px -1px rgba(144, 155, 165, 0.29);
    box-shadow: 0px 20px 51px -1px rgba(144, 155, 165, 0.29);
}

.plan-ttl {
    padding: 50px 0 60px 0;
    text-align: center;
    border-radius: 4px 4px 0 0px;
    background-size: contain;
    border-bottom: #efebeb solid 1px;
}

.plan-ttl span.title {
    display: block;
    color: #27ae5f;
    font-size: 17px;
    text-transform: uppercase;
    font-weight: 700;
}

.currency-sign {
    font-size: 30px;
}

.plan-time {
    font-size: 14px;
    color: #98a4b8;
}

.prefered {
    background: #02dbc0;
}

.plan-ttl h3 {
    display: block;
    color: #3e355f;
    font-size: 55px;
    text-transform: uppercase;
    font-weight: 600;
    margin: 0;
}

.plan-ttl p {
    font-size: 14px;
}

.plan-ttl.prefered span {
    display: block;
    color: #FFFFFF;
    font-size: 17px;
    text-transform: uppercase;
    font-weight: 700;
}

.plan-ttl.prefered h3 {
    display: block;
    color: #FFFFFF;
    font-size: 55px;
    text-transform: uppercase;
    font-weight: 600;
    margin: 0;
}

.prefered .plan-time {
    color: #FFFFFF;
}

.plan ul {
    list-style: none;
    padding-left: 0;
    padding-top: 0;
    padding-bottom: 80px;
}

.plan li {
    border-bottom: 1px solid #f3f1f1;
    padding: 23px 0;
}

.plan li {
    font-weight: 400;
    font-size: 15px;
    margin-left: 7%;
    margin-right: 7%;
}

.plan .yes {
    background: url(../images/yes.png) no-repeat right center;
}

.plan .no {
    background: url(../images/no.png) no-repeat right center;
}

.plan-btn {
    text-align: center;
}

.plan-btn a {
    background: #fff;
    border: 1px solid #27ae5f;
    color: #27ae5f;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 12px 40px;
    display: inline-block;
    text-decoration: none !important;
}

.plan-btn {
    position: absolute;
    width: 100%;
    bottom: -12px;
    left: 0;
    text-align: center;
}

.plan-btn a:hover {
    background: #27ae5f;
    color: #fff;
}

.section10 .module:hover {
    margin-top: -10px;
}

.pdtop {
    padding-top: 120px;
}

.martop {
    margin-top: -50px;
}

.pos {
    position: relative;
}

/* End pricing */

/*-----------------------------------------------------------------------------------

team

-----------------------------------------------------------------------------------*/

.section10 {
    padding: 90px 0;
    background: #fff;
}

.team-box {
    background: #fff;
    text-align: center;
    position: relative;

    -webkit-box-shadow: 0px 20px 51px -1px rgba(144, 155, 165, 0.29);
    -moz-box-shadow: 0px 20px 51px -1px rgba(144, 155, 165, 0.29);
    box-shadow: 0px 20px 51px -1px rgba(144, 155, 165, 0.29);
}

.team-photo {
    max-height: 300px;
    overflow: hidden;

}

.team-photo img {
    width: 100%;

}

.team-ttl {
    padding: 40px 0 20px 0;
}

.team-ttl span {
    font-weight: 600;
    color: #27ae5f;
    font-size: 18px;
}

.team-box .team-ttl p {
    font-weight: 600;
    font-size: 15px;
    margin-bottom: 0;
}

.team-con {
    padding: 0 10%;
    padding-bottom: 60px;
}

.team-con p {
    margin-bottom: 0;
}

.team-info {
    position: absolute;
    width: 100%;
    bottom: -15px;
    left: 0;
    text-align: center;
}

.pdtop2 {
    padding-top: 20px;
}

.team-info a {
    display: inline-block;
    vertical-align: middle;
    text-decoration: none !important;
}

.team-info a i {
    width: 34px;
    height: 34px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #ced2d7;
    color: #616161;
    font-size: 16px;
    display: block;
    line-height: 32px;
    background: #ffffff;
}

.team-info a i:hover {
    background: #27ae5f;
    color: #fff;
}

/* End team */

/*-----------------------------------------------------------------------------------

Lest start yor project now

-----------------------------------------------------------------------------------*/

.section11 {
    padding: 100px 0;

    /* The image used */
    background: #27ae5f url("../images/parallaxbg.jpg") no-repeat;

    /* Set a specific height */
    height: auto;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.section11 p {
    color: #FFFFFF;
    margin-bottom: 0;
    text-align: center;
}

.get {
    display: inline-block;
    color: #000000;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none !important;
    background: #FFFFFF;
    padding: 10px 40px;
    line-height: 25px;

    -webkit-box-shadow: 0px 15px 32px 1px rgba(0, 0, 0, 0.23);
    -moz-box-shadow: 0px 15px 32px 1px rgba(0, 0, 0, 0.23);
    box-shadow: 0px 15px 32px 1px rgba(0, 0, 0, 0.23);
}

.get:hover {
    color: #FFFFFF;
    background: #27ae5f;
    transition: all ease .5s;

}

.getbtn {
    text-align: center;
    margin-top: 40px;
}

/* End Lest start yor project now */

/*-----------------------------------------------------------------------------------

Blog

-----------------------------------------------------------------------------------*/

.section16 {

    padding: 100px 0;
}

.h-blog-box {
    background: #fff;
    text-align: center;
    position: relative;

    -webkit-box-shadow: 0px 20px 51px -1px rgba(144, 155, 165, 0.29);
    -moz-box-shadow: 0px 20px 51px -1px rgba(144, 155, 165, 0.29);
    box-shadow: 0px 20px 51px -1px rgba(144, 155, 165, 0.29);
}

.h-blog-box-photo {
    max-height: 300px;
    overflow: hidden;

}

.h-blog-box-photo img {
    width: 100%;
}

.h-blog-content {
    width: 100%;
    padding: 35px;
}

.h-blog-date {
    font-size: 14px;
    font-weight: 600;
    text-align: left;
    text-transform: uppercase;

}

.h-blog-ttl h2 {
    color: #1a1a1a;
    font-size: 30px;
    font-weight: 400;
    line-height: 38px;
    margin: 0;
    padding: 10px 0 0 0;
    text-align: left;
}

.h-blog-more {
    text-align: left;
    padding: 15px 0 0 0;
}

.h-blog-more a {
    font-size: 15px;
    font-weight: 600;
    text-align: left;
    color: #27ae5f;
}

/*-----------------------------------------------------------------------------------

Clients Logo Slider

-----------------------------------------------------------------------------------*/

.section12 {
    background: #fff;
    padding: 90px 0;
    border-bottom: #d3dae4 solid 1px;
}

.section12 .bx-wrapper {
    margin: 0 auto;
}

.section12 .bx-controls-direction {
    display: block;
}

.section12 .bx-pager {
    display: none;
}

.section12 .slide {
    text-align: center;
}

.section12 .slide img {
    display: inline-block;
}

/* End Logo Slider */

/*-----------------------------------------------------------------------------------

freetrial

-----------------------------------------------------------------------------------*/

.section13 {
    padding: 70px 0;
    background: #FFFFFF;
}

.form {
    max-width: 560px;
    margin: 0 auto;
    text-align: center;
    padding-top: 50px;
}

.form input, .form textarea {
    width: 100%;
    background: #fff;
    height: 45px;
    padding: 0 15px;
    margin-bottom: 15px;
    border: 1px solid #e2e7ec;
}

.form textarea {
    height: 150px;
    padding: 8px 15px;
}

.form input:hover {
    outline: none;
}

.form input:focus {
    outline: none;
}

.form button {
    color: #fff;
    font-weight: 600;
    text-align: center;
    border: 0;
    font-size: 13px;
    text-transform: uppercase;
    background: #27ae5f;
    margin-top: 20px;
    padding: 15px 50px;
    width: 100%;
}

.form button:hover {
    background: #27ae5f;
    transition: all ease .5s;

}

.form p {
    font-weight: 400;
    font-size: 13px;
    text-align: center;
    padding-top: 30px;
}

/* End freetrial */

/*-----------------------------------------------------------------------------------

Footer Social

-----------------------------------------------------------------------------------*/

.section14 {
    padding: 90px 0 20px 0;
    text-align: center;
    float: left;
    width: 100%;
}

.fool-box {
    float: left;
    width: 100%;
    background: #FFFFFF;
    min-height: 275px;

    -webkit-box-shadow: 0px 20px 51px -1px rgba(144, 155, 165, 0.29);
    -moz-box-shadow: 0px 20px 51px -1px rgba(144, 155, 165, 0.29);
    box-shadow: 0px 20px 51px -1px rgba(144, 155, 165, 0.29);
}

.footer-box-content {
    float: left;
    width: 100%;
    padding: 20px 40px 40px 40px;
}

.fool-box h4 {
    float: left;
    width: 100%;
    color: #3e355f;
    font-size: 17px;
    font-weight: 500;
    text-transform: uppercase;
    text-align: left;
}

.fool-box p {
    float: left;
    width: 100%;
    text-align: left;
    font-size: 15px;
    font-weight: 400;
    margin: 0;
    padding-top: 10px;
}

.fool-box i {
    width: 65px;
    height: 65px;
    background: #FFFFFF;
    text-align: center;
    border-radius: 50%;
    color: #27ae5f;
    font-size: 32px;
    display: block;
    line-height: 60px;
    /*margin:0 auto;*/
    float: left;
    margin-left: 40px;
    margin-top: -30px;

    -webkit-box-shadow: 0px 6px 18px -3px rgba(144, 155, 165, 0.31);
    -moz-box-shadow: 0px 6px 18px -3px rgba(144, 155, 165, 0.31);
    box-shadow: 0px 6px 18px -3px rgba(144, 155, 165, 0.31);

}

.fool-box a {
    text-decoration: none !important;
    float: left;
    margin-top: 30px;

}

.fool-box:hover i {
    background: #27ae5f;
    color: #fff;
    transition: all ease .5s;

}

.fool-box a i:hover, .foot-social a i:hover {
    background: #27ae5f;
    color: #fff;
    transition: all ease .5s;
}

.foot-social a {
    display: inline-block;
    text-decoration: none !important;

}

.foot-social i {
    width: 40px;
    height: 40px;
    text-align: center;
    border-radius: 50%;
    color: #747f8e;
    font-size: 15px;
    display: block;
    line-height: 40px;
    margin: 0 auto;
    background: #FFFFFF;
}

.last-footer {
    float: left;
    width: 100%;
    padding: 55px 0 0 0;
    margin-top: 80px;

    @media (max-width: 767px) {
        padding-top: 10px;
    }
}

.footer-copy {
    float: left;
    width: 100%;
    text-align: left;

    &.text-right {
        text-align: right;
    }

    @media (max-width: 767px) {
        text-align: center;
        padding: 10px;

        &.text-right {
            text-align: center;
        }
    }
}

.footer-copy a {
    color: #27ae5f;
}

/* End Footer Social */

/*-----------------------------------------------------------------------------------

Footer

-----------------------------------------------------------------------------------*/

.section15 {
    padding: 50px 0;
    background: #0f2c49;
    text-align: center;

}

.section15 a {
    padding: 0 5px;
    display: inline-block;
}

.section15 p {
    font-weight: 400;
    color: #677685;
    font-size: 12px;
    margin-bottom: 0;
}

.foot-social {
    padding-bottom: 30px;
    float: right;
}

/* End Footer */

/*-----------------------------------------------------------------------------------

Scroll Animation

-----------------------------------------------------------------------------------*/

.mac span {
    display: none;
}

.come-in {
    transform: translateY(450px);
    animation: come-in 1s ease forwards;
}

.come-in:nth-child(odd) {
    animation-duration: 0.9s;
}

.already-visible {
    transform: translateY(0);
    animation: none;
}

.cnt h3, .cnt h4 {
    display: inline-block;
    color: #FFFFFF;
    font-size: 50px;
    font-weight: 300;
    margin: 0;
}

@keyframes come-in {
    to {
        transform: translateY(0);
    }
}

/* End Scroll Animation */

/*-----------------------------------------------------------------------------------

Screen Loader

-----------------------------------------------------------------------------------*/
.no-js #loader {
    display: none;
}

.js #loader {
    display: block;
    position: absolute;
    left: 100px;
    top: 0;
}

.se-pre-con {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 999999999;
    background: url(../images/loading.gif) center no-repeat #fff;
}

/* End Screen Loader */

/*-----------------------------------------------------------------------------------

BLOG CSS

-----------------------------------------------------------------------------------*/

.blog_bg {
    background: #f0f5f8;
}

.blog_header {
    background: url(../images/blog-header.jpg) repeat-x top center;
    width: 100%;
    padding-top: 20px;
    position: relative;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    margin-bottom: 10px;
}

.blog-header-text {
    float: left;
    width: 100%;
    padding: 100px 0px 300px 0px;
}

.breadcrumb_list {
    float: left;
    width: 100%;
    padding: 10px 15px;
}

.breadcrumb_list ul {
    float: left;
    width: 100%;
    padding: 0;
    margin: 0;
}

.breadcrumb_list ul li {
    float: left;
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 14px;
    color: #999999;

	&:after {
		content: "\00BB";
        margin: 0 15px;
	}

    &:last-child {
        &:after {
            content: "";
            margin: 0;
        }
    }
}

.breadcrumb_list ul li a {
    float: left;
    padding: 0;
    margin: 0;
    font-size: 14px;
    color: #999999;
    text-align: left;
}

.breadcrumb_list ul li .blog_breadcum_active {
    color: #1080f2;
}

.blog-content-area {
    float: left;
    width: 100%;
    padding: 70px 0 0 0;
}

.blog_box {
    float: left;
    width: 100%;
    background: #FFFFFF;
    border: #e2e7ec solid 1px;
    border-radius: 6px;
    -webkit-box-shadow: 1px 7px 68px -23px rgba(144, 155, 165, 0.73);
    -moz-box-shadow: 1px 7px 68px -23px rgba(144, 155, 165, 0.73);
    box-shadow: 1px 7px 68px -23px rgba(144, 155, 165, 0.73);
    padding: 40px 0;
    margin-bottom: 40px;
}

.blog_post_cat {
    float: left;
    width: 100%;
    padding: 0px;
    font-size: 13px;
    color: #1080f2;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
}

.blog_post_heading h1 {
    float: left;
    width: 100%;
    padding: 0px;
    font-size: 28px;
    color: #1080f2;
    text-align: center;
    text-transform: capitalize;
    font-weight: normal;
    color: #000000;
    line-height: 1.5;
    padding: 0 0 10px 0;
    margin: 0;
}

.blog-post-date {
    margin: 0 auto;
    background: #0f2c49;
    font-size: 13px;
    color: #FFFFFF;
    text-transform: uppercase;
    font-weight: 700;
    padding: 3px 8px;
    clear: both;
    text-align: center;
    width: 90px;
}

.blog-post-single-img {
    float: left;
    width: 100%;
    text-align: center;
    margin: 0;
    position: relative;

    .heading {
        position: absolute;
        background: rgba(255,255,255,0.8);
        padding: 30px;
        margin-bottom: 0;
        bottom: 0;

        @media (max-width: 767px) {
            padding: 20px;
            h2 {
                font-size: 22px;
            }
        }
    }

    img {
        width: 100%;
        text-align: center;
    }
}

.blog-post-content-area {
    float: left;
    width: 100%;
    padding: 60px 60px 30px 60px;
    font-size: 17px;

    img {
        max-width: 100%!important;
        height: auto !important;
    }

    img.alignright {float:right; margin:0 0 1em 1em}
    img.alignleft {float:left; margin:0 1em 1em 0}
    img.aligncenter {display: block; margin-left: auto; margin-right: auto}
    a img.alignright {float:right; margin:0 0 1em 1em}
    a img.alignleft {float:left; margin:0 1em 1em 0}
    a img.aligncenter {display: block; margin-left: auto; margin-right: auto}
}

.blog-post-text p {
    float: left;
    width: 100%;
    padding: 0px;
    font-size: 14px;
    color: #8a8a8a;
    text-align: justify;
    text-transform: capitalize;
    font-weight: normal;
    line-height: 2;
}

.blog-post-quote {
    float: left;
    width: 100%;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    color: #828282;
    line-height: 1.7;
    padding: 0 60px;
}

.blog-post-quote span {
    float: left;
    width: 100%;
    text-align: center;
    font-size: 13px;
    font-weight: 600;
    color: #1080f2;
    line-height: 1.7;
    padding: 10px 0 0 0;
}

.blog-post-quote .blockquote {
    float: left;
    width: 100%;
    text-align: center;
    font-size: 100px;
    color: #b0b0b0;
    line-height: 0;
    padding: 100px 0 0 0;
    clear: both;
}

.blog-post-info {
    float: left;
    width: 100%;
    border-top: #e5e5e5 solid 1px;
    border-bottom: #e5e5e5 solid 1px;
    padding: 20px 0;
    margin: 45px 0;
}

.blog-post-info ul {
    float: left;
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
}

.blog-post-info ul li {
    float: left;
    padding: 10px 10px;
    margin: 0;
    list-style: none;
    display: inline-block;
}

.blog-post-info ul li a {
    color: #828282;
}

.blog-post-info ul li a:hover {
    color: #1080f2;
    text-decoration: none;
}

.blog-btn {
    text-align: center;
    clear: both;
}

.blog-more-btn {
    display: inline-block;
    color: #1080f2;
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none !important;
    border: #1080f2 solid 1px;
    border-radius: 40px;
    padding: 10px 50px 7px 50px;
    line-height: 25px;
}

.blog-more-btn:hover {
    background: #1080f2;
    color: #FFFFFF;
    border: #1080f2 solid 1px;
    transition: all ease .5s;
}

.blog-side-bar-box {
    float: left;
    width: 100%;
    background: #FFFFFF;
    border: #e2e7ec solid 1px;
    border-radius: 6px;
    -webkit-box-shadow: 1px 7px 68px -23px rgba(144, 155, 165, 0.73);
    -moz-box-shadow: 1px 7px 68px -23px rgba(144, 155, 165, 0.73);
    box-shadow: 1px 7px 68px -23px rgba(144, 155, 165, 0.73);
    padding: 20px 0;
    margin-bottom: 40px;
}

.blog-side-bar-box-content {
    float: left;
    width: 100%;
    padding: 35px;
}

.blog-box-side-bar h2 {
    float: left;
    width: 100%;
    border-bottom: #e0e0e0 solid 1px;
    font-size: 15px;
    font-weight: 700;
    text-align: center;
    color: #000000;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 0 0 30px 0;
}

.side-bar-logo {
    float: left;
    width: 100%;
    border: #e0e0e0 solid 1px;
    text-align: center;
    line-height: 1;
    padding: 30px;
}

.side-bar-text p {
    float: left;
    width: 100%;
    font-size: 14px;
    color: #8a8a8a;
    text-align: left;
    text-transform: capitalize;
    font-weight: normal;
    line-height: 2;
    padding: 20px 0 0 0;
}

.side-bar-cat-list {
    float: left;
    width: 100%;
    margin: -20px 0 0 0;
}

.side-bar-cat-list ul {
    float: left;
    width: 100%;
    padding: 0;
    margin: 0;
}

.side-bar-cat-list ul li {
    float: left;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    border-bottom: #c2c2c2 dashed 1px;
}

.side-bar-cat-list ul li a {
    float: left;
    width: 100%;
    padding: 15px 0;
    margin: 0;
    font-size: 12px;
    font-weight: 500;
    text-align: left;
    color: #828282;
    text-transform: uppercase;
    text-decoration: none;
}

.side-bar-cat-list ul li a:hover {
    color: #1080f2;
    transition: all ease .5s;
}

.blog-side-bar-ad-banner {
    float: left;
    width: 100%;
    text-align: center;
}

.side-bar-post-main {
    float: left;
    width: 100%;
    margin-bottom: 35px;
}

.side-bar-post-img {
    float: left;
    width: 100%;
    text-align: center;
}

.side-bar-post-img img {
    width: 100%;
    text-align: center;
}

.side-bar-post-ttl h3 {
    float: left;
    width: 100%;
    text-align: left;
    font-size: 16px;
    color: #000000;
    font-weight: 700;
}

.side-bar-post-text p {
    float: left;
    width: 100%;
    padding: 0px;
    font-size: 14px;
    color: #8a8a8a;
    text-align: justify;
    text-transform: capitalize;
    font-weight: normal;
    line-height: 2;
}

.side-bar-post-more {
    float: left;
    width: 100%;
    padding: 0px;
    font-size: 13px;
    color: #1080f2;
    text-align: left;
    text-transform: uppercase;
    line-height: 2;
    font-weight: 700;
    letter-spacing: 1px;
}

.side-bar-tag-cloud {
    float: left;
    width: 100%;
}

.side-bar-tag-cloud a {
    font-size: 12px;
    color: #828282;
    text-transform: uppercase;
    border: #e0e0e0 solid 1px;
    padding: 4px 7px;
    text-align: center;
    display: inline-block;
    line-height: normal;
    margin: 4px;
}

.side-bar-tag-cloud a:hover {
    background: #1080f2;
    color: #FFFFFF;
    text-decoration: none;
    transition: all ease .5s;
}

.bsb-subscribe {
    background: #0f2c49;
}

.bsb-subscribe-ttl h2 {
    color: #FFFFFF;
}

.bsb-subscribe-text p {
    float: left;
    width: 100%;
    padding: 0px;
    font-size: 14px;
    color: #FFFFFF;
    text-align: center;
    text-transform: capitalize;
    font-weight: normal;
    line-height: 2;
}

.bsb-subscribe-input {
    float: left;
    width: 100%;
    margin: 0 auto;
    position: relative;
}

.bsb-subscribe-input input[type="email"] {
    float: left;
    width: 100%;
    background: #FFFFFF;
    font-size: 13px;
    line-height: 14px;
    color: #686868;
    font-weight: 400;
    height: 43px;
    padding: 0 48px 0 9px;
}

.bsb-subscribe-input input[type="submit"] {
    float: left;
    width: 100%;
    cursor: pointer;
    background: #1080f2;
    height: 40px;
    text-align: center;
    border: none;
    font-size: 13;
    color: #FFFFFF;
    margin-top: 15px;
    text-transform: uppercase;
    font-weight: 500px;
    letter-spacing: 1px;
}

.bsb-subscribe-input input[type="submit"]:hover {
    background-color: #626262;
}

.blog-pn-post-content-area {
    float: left;
    width: 100%;
    padding: 10px 25px;
}

.blog-post-pre-post {
    float: left;
    width: 100%;
}

.blog-post-pre-post-img {
    float: left;
    width: 25%;
}

.blog-post-pre-post-img img {
    float: left;
    width: 100%;
}

.blog-post-pre-post-main {
    float: left;
    width: 75%;
    padding-left: 15px;
}

.blog-post-pre-post-ttl h4 {
    float: left;
    width: 100%;
}

.blog-pre-btn {
    float: left;
    width: 100%;
    font-size: 11px;
    text-align: left;
    color: #8a8a8a;
    text-transform: uppercase;
    font-weight: 700;
}

.blog-post-pre-next-ttl h4 {
    float: left;
    width: 100%;
    text-align: left;
    font-size: 16px;
    color: #000000;
    font-weight: 600;
    line-height: 1.4;
}

.next-btn {
    float: right;
    text-align: right;
}

.blog-post-next-post-main {
    padding: 0 15px 0 0;
}

.next-ttl h4 {
    text-align: right;
}

.related-blog-post-content-area {
    float: left;
    width: 100%;
    padding: 30px;
}

.related-blog-post {
    float: left;
    width: 100%;
}

.related-blog_post_cat {
    float: left;
    width: 100%;
    padding: 0px;
    font-size: 12px;
    color: #1080f2;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
}

.related-blog_post_heading h5 {
    float: left;
    width: 100%;
    padding: 0px;
    font-size: 17px;
    color: #1080f2;
    text-align: center;
    text-transform: capitalize;
    font-weight: normal;
    color: #000000;
    line-height: 1.5;
    padding: 0 0 10px 0;
    margin: 0;
}

.related-blog-post-date {
    display: inline-block;
    background: #0f2c49;
    font-size: 13px;
    color: #FFFFFF;
    text-transform: uppercase;
    font-weight: 700;
    padding: 3px 8px;
    clear: both;
    text-align: center;
}

.related-blog-post-single-img {
    float: left;
    width: 100%;
    text-align: center;
    margin: 30px 0 0 0;
}

.related-blog-post-single-img img {
    width: 100%;
    text-align: center;
}

.comment-row {
    float: left;
    width: 100%;
    border-bottom: #e0e0e0 solid 1px;
    padding-bottom: 35px;
    margin-bottom: 35px;
}

.replied-comment {
    padding-left: 20%;
}

.comment-row-pic {
    float: left;
    width: 15%;
}

.comment-row-pic img {
    width: 100%;
}

.comment-row-content {
    float: left;
    width: 85%;
    padding-left: 5%;
}

.comment-row-user-name {
    float: left;
    width: 100%;
    font-size: 17px;
    color: #000000;
    text-transform: capitalize;
    font-weight: normal;
    padding: 0;
    text-align: left;
}

.comment-row-date {
    float: left;
    width: 100%;
    font-size: 12px;
    color: #707070;
    text-transform: capitalize;
    font-weight: 700;
    padding: 2px 0 15px 0;
    text-align: left;
}

.comment-row-comment {
    float: left;
    width: 100%;
    font-size: 13px;
    color: #8a8a8a;
    text-transform: capitalize;
    font-weight: normal;
    padding: 0;
    text-align: left;
}

.comment-row-reply-btn {
    float: left;
    width: 100%;
}

.comment-row-reply-btn a {
    float: left;
    width: 100%;
    font-size: 12px;
    color: #000000;
    text-transform: uppercase;
    font-weight: 700;
    padding: 15px 0 0 0;
    text-align: left;
    text-decoration: underline;
}

.comment-row-reply-btn a:hover {
    color: #1080f2;
    transition: a11 ease .5s;
}

.leave-comment-area {
    float: left;
    width: 100%;
}

.comment-form {
    max-width: 90%;
    margin: 0 auto;
    text-align: center;
    padding-top: 30px;
    clear: both;
}

.comment-form input {
    width: 100%;
    background: #fff;
    border: 1px solid #e2e7ec;
    height: 40px;
    border-radius: 5px;
    padding: 0 15px;
    margin-bottom: 10px;

}

.comment-form input:hover {
    outline: none;
}

.comment-form input:focus {
    outline: none;
}

.comment-form textarea {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    min-height: 150px;
    max-height: 150px;
    background: #fff;
    border: 1px solid #e2e7ec;
    height: 40px;
    border-radius: 5px;
    padding: 0 15px;
    margin-bottom: 10px;

}

.comment-form textarea:hover {
    outline: none;
}

.comment-form textarea:focus {
    outline: none;
}

.comment-form button {
    color: #fff;
    font-weight: 600;
    text-align: center;
    border: 0;
    font-size: 13px;
    text-transform: uppercase;
    background: #1080f2;
    border-radius: 40px;
    margin-top: 20px;
    padding: 15px 50px;

}

.comment-form button:hover {
    background: #47a032;
    transition: all ease .5s;

}

/*-----------------------------------------------------------------------------------

Responsive CSS for all sections

-----------------------------------------------------------------------------------*/
@media (max-width: 1400px) {
    .dg-container {
        overflow: hidden;
    }
}

@media (max-width: 1200px) {
    .tags {
        padding-top: 20px;
    }

    .tg {
        padding-bottom: 20px;
    }

    .header h1 {
        padding-top: 35px;
    }

    .menu li {
        padding: 0 6px;
    }

    .img3 {
        width: 1000px;
        height: auto;
        position: absolute;
        top: 0;
        right: -500px;
    }

    .img4 {
        width: 1000px;
        height: auto;
        position: absolute;
        top: 0;
        left: -550px;
    }

    .two-colom-image img {
        margin-top: 40px;
    }

    .section3 {
        padding: 100px 0;
    }

    .content-area-second {
        padding: 0 0 60px 0;
    }
}

@media screen and (max-width: 1199px) {
    .foot-social {
        float: left;
        margin-top: 20px;
    }

    .last-footer {
        margin-top: 20px;
    }

}

@media (max-width: 1023px) {
    #menu-icon {
        display: block;
    }

    #menu {
        display: none;
        left: 0;
        position: absolute;
        width: 100%;
        z-index: 99999999;
    }

    #menu-icon {
        height: 35px;
        width: 35px;
        cursor: pointer;
        float: right;
    }

    #menu-icon span {
        height: 5px;
        margin-bottom: 5px;
        display: block;
        background: #27ae5f;
    }

    .menu {
        background: rgb(59, 59, 59);
    }

    .menu li {
        display: block;
        padding: 10px 15px;
    }

    .menu li a {
        color: #FFFFFF;
    }

    .logo {
        float: left;
    }

    .menu {
        text-align: center;
    }

    #header .col-md-4 {
        width: 100%;
    }

}

@media (max-width: 980px) {
    .con1 h2, .ttl2 h2, .ttl h2, .search-sec h2, .header h1, .ttl3 h2, .ttl4 h2, .ttl5 h2, .ttl3 h2, .ttl5 h2 {
        font-size: 28px;
        line-height: 30px;
    }

    .tgcon {
        width: 80%;
    }

    .h-blog-box {
        margin-bottom: 50px;
    }

}

@media screen and (max-width: 991px) {
    .img3, .img4 {
        width: 100%;
        height: auto;
        position: inherit;
        top: 0;
        right: 0;
        text-align: left;
        left: 0;
        margin-bottom: 60px;
        margin-top: 0;
    }
}

@media (max-width: 800px) {
    .bx-wrapper .bx-next {
        right: 0 !important;
    }

    .bx-wrapper .bx-prev {
        left: 0 !important;
    }

    .team-photo {
        height: auto;
        max-height: inherit;
    }

}

@media (max-width: 767px) {
    .team-box {
        margin-bottom: 75px;
    }

    .section1 {
        padding: 50px 0;
    }

    .section6 {
        padding: 20px 0 50px;
    }

    .fool-box {
        margin-bottom: 70px;
    }

    .plan {
        margin-bottom: 75px;
    }

    .martop {
        margin-top: 0;
    }

    .pdtop {
        padding-top: 40px;
    }

    .grop .form-control, .grop .btn {
        width: 100%;

        -webkit-box-shadow: 0px 8px 51px -4px rgba(144, 155, 165, 0.4);
        -moz-box-shadow: 0px 8px 51px -4px rgba(144, 155, 165, 0.4);
        box-shadow: 0px 8px 51px -4px rgba(144, 155, 165, 0.4);
    }

    .grop .input-group {
        box-shadow: none;
    }

    .text2 {
        margin: 15px 0 !important;
    }

    .grop .btn {
        margin-left: 0;
    }

    .our-box {
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .btn2 {
        margin-bottom: 10px;
    }

    .blog-post-info {
        display: block;
    }

    .blog-post-info ul {
        display: block;
        justify-content: space-between;
    }

    .blog-post-content-area {
        padding: 30px;
    }

    .screen-section {
        padding-bottom: 100px;
    }

}

@media (max-width: 400px) {
    .btn1, .btn2 {
        margin: 10px 0;
    }

    .con1 h2, .ttl2 h2, .ttl h2, .search-sec h2, .header h1, .ttl3 h2, .ttl4 h2, .ttl5 h2, .ttl3 h2, .ttl5 h2 {
        font-size: 24px;
        line-height: 28px;
    }

    .blog-post-content-area {
        padding: 30px;
    }

}

@media (max-width: 1200px) {
    .dg-wrapper {
        width: 100%;
        height: 700px;
    }

    .dg-container {
        margin: 0 auto;
        overflow: hidden;
        position: relative;

    }

    .dg-wrapper a img {
        display: block;
        width: 100%;
    }

    .dg-wrapper {
        height: 500px;
    }

    .dg-container nav {
        bottom: 25px;
    }

}

@media (max-width: 1250px) {
    .dg-wrapper {
        height: 500px;
    }

    .dg-container nav {
        bottom: 30px;
    }

}

@media (max-width: 1199px) {
    .dg-wrapper {
        height: 660px;
    }

    .bx-wrapper .bx-next {
        right: 0 !important;
    }

    .bx-wrapper .bx-prev {
        left: 0 !important;
    }
}

@media (max-width: 980px) {
    .dg-wrapper {
        height: 540px;
    }

    .section12 .slide {
        text-align: inherit;
    }

}

@media (max-width: 800px) {
    .bx-wrapper .bx-next {
        right: 0 !important;
    }

    .bx-wrapper .bx-prev {
        left: 0 !important;
    }

    .dg-wrapper {
        height: 550px;
    }
}

@media (max-width: 767px) {
    .dg-wrapper {
        height: 560px;
    }

    .team-box {
        max-width: 320px;
        margin: 0 auto;
        margin-bottom: 50px;
    }

    .bx-wrapper .bx-next {
        right: 40% !important;
    }

    .bx-wrapper .bx-prev {
        left: 40% !important;
    }

    .bx-wrapper .bx-controls-direction a {
        top: 100% !important;
    }

    .bx-wrapper {
        min-height: 120px !important;
    }
}

@media (max-width: 600px) {
    .dg-wrapper {
        height: 400px;
    }

    .section12 .slide {
        text-align: center;
    }
}

@media (max-width: 550px) {
    .bx-wrapper .bx-next {
        right: 35% !important;
    }

    .bx-wrapper .bx-prev {
        left: 35% !important;
    }
}

@media (max-width: 400px) {
    .dg-wrapper {
        height: 300px;
    }

    .dg-container {
        width: 95%;
    }
}

@media screen and (min-device-width: 768px) and (max-device-width: 989px) {
    .f-img img {
        width: 100%;
    }

    .div img {
        width: 100%;
    }
}



