.accordion-struct {
    &.panel-group {
        .panel {
            border: medium none;
            border-radius: 0;
            margin-bottom: 0;
            margin-top: 0;
            box-shadow:none;
            border-left:1px solid $light_grey;
            border-right:1px solid $light_grey;
            .panel-heading {
                border-radius: 0;
                padding: 0;
                background:$xtra_lighter_grey;
                border-top:1px solid $light_grey;
                &.activestate {
                    background: #fff;
                    a h5 {
                        color:$primary-color;
                    }
                }
                a {
                    color: $grey;
                    padding: 10px 20px;
                    width:100%;
                    display:block;
                }

                h5 {
                    color: $grey;
                    margin: 10px 0;
                    padding: 0;
                    font-size: 20px;
                }
            }
            .panel-body {
                padding: 0 20px 15px;
            }

            &:last-child {
                border-bottom: 1px solid $light_grey;
            }
        }
    }
    &.accordion-style-1 {
        &.panel-group {
            .panel {
                .panel-heading {
                    background:transparent;
                    border-bottom:1px solid $light_grey;
                    &.activestate {
                        background:transparent;
                        .icon-ac-wrap {
                            .minus-ac {
                                opacity:1;
                            }
                            .plus-ac {
                                opacity:0;
                            }
                        }

                        a {
                            color:$grey;
                        }
                    }
                    a {
                        color:$grey;
                    }
                }
            }
        }
        .icon-ac-wrap {
            display:inline;
            position:relative;
            color:$green;
            .minus-ac {
                position:absolute;
                left:0;
                top:0;
                opacity:0;
            }
            .plus-ac {
                opacity:1;
            }
        }
    }
}