.fixed-sidebar-left {
    position: fixed;
    top: 66px;
    left: 0;
    width: 225px;
    margin-left: 0;
    bottom: 0;
    z-index: 100;
    border-right: 1px solid #ececec;
    @include transition(all 0.4s ease);
    .right-nav-text {
        opacity: 1;
        @include transition(opacity 0.2s ease 0s);
    }
    .side-nav {
        border: none;
        height: 100%;
        width: 100%;
        position: relative;
        border-radius: 0;
        margin: 0;
        overflow-y: auto;
        background-color: $white;
        backface-visibility: hidden;
        li {
            width: 225px;

            &.navigation-header {
                color: #323232;

                > span, > i {
                    padding: 11px 15px;
                }
                > span {
                    font-size: 13px;
                    display: block;
                    font-weight: 400;
                    color: #323232;
                    text-transform: uppercase;
                    letter-spacing: 0.7px;
                }
                > i {
                    font-size: 16px;
                    display: none;
                }

                > span a {
                    color: #323232;
                }

                hr.hr-dark-color {
                    border-top: 1px solid #dedede;
                }

                &.current-site {
                    border-bottom: 1px solid #dedede;

                    span.inline-block {
						width: calc(100% - 40px);
                    }
                }
            }

            a[aria-expanded="true"] {
                background: $xtra_lighter_grey;
                > i {
                    color: #ffffff;
                }
                .pull-right i {
                    &:before {
                        content: '\f0d8';
                    }
                }
            }
            a {
                width: 100%;
                @include transition(.3s ease);

                .pull-left {
                    font-size: 13px;

                    > i {
                        font-size: 14px;
                        width: 14px;
                        color: #6b6b6b;
                    }
                }
                .pull-right i {
                    color: $grey;
                }

                &:hover, .active-page {
                    .pull-left {
                        i {
                            color: #1f8c4c;
                        }
                    }
                }
            }
        }
        > li {
            > a {
                color: $black;
                padding: 12px 15px 12px 15px;

                &:hover {
                    background: #eeeeee;
                }

                &.btn.btn-primary {
                    &:hover, &:active {
                        background: #1f8c4c;
                        color: #fff;
                        text-align: left;
                    }
                }
            }
            a.active-page {
                background: $xtra_lighter_grey;
            }
            > ul {
                > li.list-card {
                    a {
                        padding: 12px 15px 5px 10px;
                        display: block;
                        color: #323232;

                        span.right-nav-text {
                            width: calc(100% - 50px);
                            display: inline-block;
                        }

                        &:hover {
                            background: #eeeeee;
                        }
                    }
                }

                > li {
                    a.btn.btn-primary {
                        text-align: left;
                        padding: 12px 15px;
                        border: 0;
                        border-radius: 0;
                        font-weight: 500;

                        &:hover, &:active, &:focus {
                            background: #1f8c4c;
                            color: #fff;
                        }
                    }
                }
            }

            > a {
                &.active {
                    color: $red;
                    > i {
                        color: $red;
                    }
                }
            }
            ul.collapse {
                li {
                    a.active {
                        color: $black;
                    }
                }

            }
        }
    }
}

a.toggle-left-nav-btn,
a#toggle_mobile_nav,
a#toggle_mobile_search {
    color: $grey;
    position: relative;
    line-height: 66px;
    i {
        font-size: 21px;
        vertical-align: middle;
        color: #fff;
    }
}

a#toggle_mobile_nav {
    display: inline-block;
}

.top-fixed-nav {
    .page-wrapper {
        margin-left: 0;
        padding-top: 134px;
    }
    .fixed-sidebar-left {
        width: 100%;
        bottom: inherit;
        &:hover {
            width: 100%;
            .collapse.in {
                display: none;
            }
        }
        > .slimScrollDiv {
            overflow: visible !important;
            .slimScrollBar {
                display: none !important;
            }
            > ul {
                overflow: visible !important;
                width: 100% !important;
                height: auto !important;
                > li {
                    width: auto;
                    > a {
                        text-align: center;
                        > i {
                            display: block;
                            margin-bottom: 10px;
                            margin-right: 0 !important;
                        }
                        > .pull-right {
                            display: none;
                        }
                    }
                }
                li {
                    position: relative;
                }
                .collapse-level-1 {
                    background: #ebebeb;
                    height: auto !important;
                    left: 0;
                    position: absolute !important;
                    z-index: 1;
                    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
                    &.two-col-list {
                        width: 450px;
                    }
                    li {
                        float: left;
                        > a {
                            i {
                                &:before {
                                    content: "\f105";
                                }
                            }
                        }
                        > ul {
                            background: #ebebeb;
                            left: 225px;
                            position: absolute;
                            top: 0;
                            z-index: 1;
                            box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
                        }
                    }
                }
                > li {
                    &:hover {
                        > ul {
                            display: block;
                        }
                    }
                    > ul {
                        > li {
                            &:hover {
                                > ul {
                                    display: block;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    &.slide-nav-toggle {
        .page-wrapper {
            margin-left: 0;
            padding-top: 60px;
        }
        .fixed-sidebar-left {
            top: -14px;
            width: 100%;
            &:hover {
                width: 100%;
            }
        }
    }
}

.scrollable-nav {
    position: relative;
    .fixed-sidebar-left,
    .navbar-fixed-top,
    .fixed-sidebar-right {
        position: absolute;
    }
    &.box-layout {
        .fixed-sidebar-right {
            right: 300px !important;
        }
    }
}

.fixed-sidebar-right,
.setting-panel {
    position: fixed;
    top: 66px;
    right: 0;
    width: 300px;
    margin-right: -300px;
    bottom: 0;
    z-index: 101;
    @include transition(all 0.4s ease);
}

.setting-panel {
    z-index: 1030;
    margin-right: -220px;
    width: 220px;
    top: 0;
    .setting-panel-title {
        font-size: 16px;
        font-weight: 600;
        padding-bottom: 17px;
        padding-left: 20px;
        padding-top: 17px;
        color: $white;
        background: $green;
    }
}

#setting_panel_btn {
    position: fixed;
    right: 10px;
    bottom: 25px;
    z-index: 1031;
    &.shadow-2dp {
        &:focus, &:active {
            @extend .shadow-2dp;
        }
    }
    &.shadow-4dp {
        &:focus, &:active {
            @extend .shadow-4dp;
        }
    }
    &.shadow-8dp {
        &:focus, &:active {
            @extend .shadow-8dp;
        }
    }
}

.right-sidebar {
    width: 100%;
    height: 100%;
    position: relative;
    border-left: 1px solid $light_grey;
    border-radius: 0;
    background: $white;
    overflow: hidden;
    .card-view {
        &:hover {
            box-shadow: none;
        }
    }
    .custom-tab-1 .nav-tabs {
        border-bottom: 1px solid $light_grey;
        > li {
            margin-right: 0;
            text-align: center;
            width: 33.33%;
            > a {
                padding: 8px 20px;
                font-size: 13px;
                font-weight: 500;
                border-bottom: none;
            }
            &.active > a {
                border-bottom: none;

            }
        }
    }
}

.right-sidebar-backdrop {
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1031;
    display: none;
    pointer-events: none;
}

.page-wrapper {
    margin-left: 225px;
    padding: 70px 20px;
    position: relative;
    @include transition(all 0.4s ease);
    left: 0;
}

.open-right-sidebar {
    .fixed-sidebar-right {
        margin-right: 0;
    }
    .right-sidebar-backdrop {
        display: block;
    }
}

.open-setting-panel {
    .setting-panel {
        margin-right: 0;
    }
    .right-sidebar-backdrop {
        display: block;
    }
}

.wrapper {
    background: $white;
    &.no-transition {
        .fixed-sidebar-left, .page-wrapper { /*Only for Setting Panel*/
            @include transition(all 0s ease);
        }
    }

    &.box-layout {
        max-width: 1400px;
        margin: 0 auto;
        .navbar-fixed-top {
            margin: 0 auto;
            max-width: 1400px;
        }
        .fixed-sidebar-left {
            left: auto;
        }
        .fixed-sidebar-right {
            width: 0;
            overflow: hidden;
            .right-sidebar {
                width: 300px;
            }

        }
        &.open-right-sidebar {
            .fixed-sidebar-right {
                margin-right: -300px;
                width: 300px;
            }
        }
        &.top-fixed-nav {
            .fixed-sidebar-left {
                max-width: 1300px;
            }
        }
    }
    &.darkmode {
        .card-view {
            background: $black;
        }
    }

    .navbar.navbar-inverse.navbar-fixed-top {
        background: $primary-color;
        border-bottom: 1px solid #389b61;

        .mobile-only-brand {
            background: $primary-color;
        }
        .nav-header .logo-wrap {
            .brand-img {
                height: 35px;
            }
        }
        .nav > li > a {
			  &:active, &:hover, &:focus {
				  color: $white;
			  }
		  }
    }
    .fixed-sidebar-left .side-nav {
        background: #f6f6f6;
    }

    .fixed-sidebar-left {
        .side-nav {
            > li > a {
                color: #323232;

                &:hover, &:focus, &:active {
                    background: #eeeeee;
                    color: $green;
                }

                &.trial {
                    margin-top: 20px;
                    font-size: 13px;
                    padding-left: 40px;
                    background: #daebf5;
                    color: #2b2983;

                    &:hover, &:active, &:focus {
                        background: #daebf5;
                        color: #2b2983;
                    }

                    i {
                        top: 12px;
                    }
                }
            }
            li {
                a {
                    &:hover, &:focus, &:active {
                        background: #eeeeee;
                        color: $primary-color;
                    }
                    &.active-page {
                        background: #eeeeee;
                        color: $primary-color;

                        i {
                            color: $primary-color;
                        }
                    }
                }
                a[aria-expanded="true"] {
                    background: $xtra_lighter_white;
                }

                ul {
                    li {
                        a {
                            color: #323232;
                        }
                    }
                }
            }
        }
        hr.light-grey-hr {
            border-color: $light_white;
        }
    }
}

@media (max-width: 1024px) {
    .wrapper {
        .navbar.navbar-inverse.navbar-fixed-top {
            .mobile-only-nav {
                background: #292929;
            }
        }
        .navbar.navbar-inverse.navbar-fixed-top .top-nav-search .input-group input {
            background: $menu_bg_col_1;
            color: $white;
        }
    }
}