
$num: 0;

@while $num < 31 {
    .pa-#{$num} {
        padding: $num +0px !important;
    }
    $num: $num +5;
}

$num: 0;
@while $num < 51 {
    .pt-#{$num} {
        padding-top: $num +0px !important;
    }
    $num: $num +5;
}

$num: 0;
@while $num < 51 {
    .pb-#{$num} {
        padding-bottom: $num +0px !important;
    }
    $num: $num +5;
}

$num: 0;
@while $num < 51 {
    .pl-#{$num} {
        padding-left: $num +0px !important;
    }
    $num: $num +5;
}

$num: 0;
@while $num < 51 {
    .pr-#{$num} {
        padding-right: $num +0px !important;
    }
    $num: $num +5;
}

$num: 0;
@while $num < 31 {
    .ma-#{$num} {
        margin: $num +0px !important;
    }
    $num: $num +5;
}

$num: 0;
@while $num < 96 {
    .mt-#{$num} {
        margin-top: $num +0px !important;
    }
    $num: $num +5;
}

$num: 0;
@while $num < 96 {
    .mb-#{$num} {
        margin-bottom: $num +0px !important;
    }
    $num: $num +5;
}

$num: 0;
@while $num < 61 {
    .ml-#{$num} {
        margin-left: $num +0px !important;
    }
    $num: $num +5;
}

$num: 0;
@while $num < 61 {
    .mr-#{$num} {
        margin-right: $num +0px !important;
    }
    $num: $num +5;
}

.ml-auto {
    margin-left:auto!important;
}
.mr-auto {
    margin-right:auto!important;
}


.no-float {
    float: none !important;
}

.overflow-hide {
    overflow:hidden !important;
}

.clearfix{
    @include clear;
}
.preloader-it {
    background: $white;
    position: fixed;
    z-index: 10001;
    height: 100%;
    width: 100%;
    overflow:hidden;
}
.text-right {
    text-align:right!important;
}
.text-left {
    text-align:left!important;
}
.bg-green,
.bg-success {
    background:$green !important;
}
.bg-seagreen {
    background:$seagreen !important;
}
.bg-grey {
    background:$grey !important;
}
.bg-yellow,
.bg-warning {
    background:$yellow !important;
}
.bg-red,
.bg-danger {
    background:$red !important;
}
.bg-blue,
.bg-primary {
    background:$blue !important;
}
.bg-pink,
.bg-info {
    background:$pink !important;
}
.bg-purple {
    background:$purple !important;
}
.bg-orange {
    background:$orange !important;
}
.bg-gold {
    background:$gold !important;
}
.bg-beige {
    background:$beige !important;
}
.bg-light {
    background:$white !important;
}
.bg-dark {
    background:$black !important;
}
.bg-twitter {
    background:$twitter_blue !important;
}
.txt-dark {
    color:$black !important;
}
.txt-light {
    color:$white !important;
}
.txt-grey {
    color:$grey !important;
}
.txt-light-grey {
    color:$light_grey !important;
}
.txt-info,
.text-info {
    color: $pink !important;
}
.txt-warning,
.text-warning {
    color: $yellow !important;
}
.txt-primary,
.text-primary {
    color: $blue !important;
}
.txt-success,
.text-success {
    color: $green !important;
}
.txt-danger,
.text-danger {
    color: $red !important;
}
.txt-purple {
    color:$purple !important;
}
.txt-beige {
    color:$beige !important;
}
.txt-gold {
    color:$gold !important;
}
.txt-orange {
    color:$orange !important;
}
.font-10 {
    font-size:10px!important;
}
.font-11 {
    font-size:11px!important;
}
.font-12 {
    font-size:12px!important;
}
.font-13 {
    font-size:13px!important;
}
.font-15 {
    font-size:15px!important;
}
.font-16 {
    font-size:16px!important;
}
.font-18 {
    font-size:18px!important;
}
.font-20 {
    font-size:20px!important;
}
.font-21 {
    font-size:21px!important;
}
.font-22 {
    font-size:22px!important;
}
.font-24 {
    font-size:24px!important;
}
.weight-500 {
    font-weight:500!important;
}
.weight-600 {
    font-weight:600!important;
}
.head-font {
    font-family:$font_main!important;
}
.main-font {
    font-family:$font_main!important;
}
.capitalize-font {
    text-transform:capitalize !important;
}
.uppercase-font {
    text-transform:uppercase !important;
}
.nonecase-font {
    text-transform:none !important;
}
.inline-block {
    display:inline-block !important;
}
.block {
    display:block !important;
}
.table-struct {
    display:table !important;
}
.table-cell {
    display:table-cell !important;
}
.vertical-align-middle {
    vertical-align:middle !important;;
}
.full-width {
    width:100%!important;
}
.half-width {
    width:50%!important;
}
.auto-width {
    width:auto!important;
}
.relative {
    position:relative!important;
}
.border-none {
    border:none!important;
}
small {
    color:$grey;
    padding-left:5px;
}

.text-muted {
    color:$grey;
}

.truncate {
    display: inline-block;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.mobile-only-view {
    display:none!important;
}

hr {
    margin-top:10px;
    margin-bottom:35px;
    border-top: 1px solid $green;
    &.light-grey-hr {
        border-top: 1px solid $light_grey;
    }
}

.seprator-block {
    margin-bottom: 80px;
}

.alert-success {
    background: $primary-color!important;
}