.carousel-control {
    &.left,&.right {
        background:none;
        text-shadow:none;
    }
    &:hover {
        &.left,&.right {
            background:none;
            text-shadow:none;
        }
    }

    span {
        display: inline-block;
        position: absolute;
        top: 50%;
        z-index: 5;
    }
}

.carousel-indicators {
    z-index:1;
    li {
        border-color:$grey;
        background:$grey;
        opacity:.6;
        &:hover {
            background:$white;
        }
    }
    li,li.active {
        height:8px;
        width:8px;
        border-radius:100%;
        border:none;
    }
    li.active {
        margin:1px;
        opacity:1;
    }
}
.text-slider {
    .carousel-indicators {
        li {
            border:none;
            &:hover {
                background:$green;
                opacity:1;
            }
        }
        li.active {
            border:none;
            background:$green;
        }
    }
}
.owl-theme .owl-nav [class*="owl-"] {
    @extend .btn;
    @extend .btn-default;
    @extend .btn-xs;
}
.owl-theme .owl-dots .owl-dot span {
    height: 8px;
    margin: 5px 3px;
    width: 8px;
    background:$grey;
    opacity:.6;
}
.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
    opacity:1;
    background:$green;
}

.testimonial-slider-wrap {
    .carousel-indicators {
        bottom:-50px;
    }
}


.twitter-icon-wrap {
    i {
        font-size:30px;
        color:$white;
    }
}
.twitter-slider-wrap {
    .carousel-indicators {
        bottom:-50px;
        li {
            border:none;
            background:$white;
            opacity:.4;
            &:hover {
                background:$white;
                opacity:.4;
            }
            &.active {
                background:$white;
                opacity:1;
            }
        }
    }
    .carousel-inner {
        text-align:center;
        .user,.interact {
            display:none;
        }
        .tweet {
            font-size:16px;
            color:$white;
            margin-bottom:30px;
            > a {
                color:$white;
            }
        }
        .timePosted {
            > a {
                font-size:12px;
                color:$white;
            }
        }
    }
}