.contact-list {
    .panel {
        border:none;
        box-shadow:none;
        margin-bottom:0;
        border-radius:0;
        border-left:1px solid $light_grey;
    }
    .table > tbody > tr > td {
        padding:12px 15px;
        a {
            font-weight:500;
        }
    }
    .create-label {
        display:block;
    }
}