.contact-card {
    .card-user-img {
        height:65px;
        width:65px;
    }
    .panel-heading {
        .user-detail-wrap {
            margin-top:8px;
            .card-user-name {
                font-size:16px;
                font-weight: 500;
                text-transform:capitalize;
                color:$white;
            }
            .card-user-desn {
                color:$white;
                text-transform:capitalize;
                font-size:13px;
            }
        }
        .pull-right {
            margin-top:22px;
        }
    }

    .card-user-email,.card-user-phone {
        color:$grey;
    }
}