.show-on-hover:hover > ul.dropdown-menu {
    display: block;
}

.dropdown-menu {
    border-radius:2px;
    border:none;
    box-shadow: 0 2px 15px rgba(0,0,0,.175);
    > li {
        > a {
            color:$black;
            &:hover {
                color:$black;
                background: $xtra_lighter_grey;
            }
            i {
                color:$grey;
                font-size: 14px;
                margin-right: 10px;
                width: 14px;
            }
        }
        &.sub-menu {
            position:relative;
            .dropdown-menu {
                &:before ,&:after{
                    display:none!important;
                }
            }
            > ul{
                top:0;
                &.open-left-side {
                    right:100%!important;
                }
                &.open-right-side {
                    left:100%!important;
                }
            }
        }
    }
    .divider {
        background-color:$light_grey;
    }
    > .active {
        > a	{
            background:$green;
            &:focus,&:hover {
                background:$green;
            }
        }
    }

    &.info-buttons {
        min-width: 200px;

        > li {
            position: relative;

            > a {
                padding: 8px 15px;
            }

            > a.info-icon {
                position: absolute;
                right: 0;
                top: 0;
                padding: 8px 15px 8px 10px;

                &:hover {
                    background: none;
                }

                i {
                    width: auto;
                    margin: 0;
                    font-size: inherit;
                }
            }
        }
    }

    &.user-auth-dropdown {
        > li {
            > a {
                font-size: 13px;
                padding: 8px 15px;
                text-transform: none;
                font-weight: 300;
            }

            &.full-name {
                font-size: 13px;
                letter-spacing: 0.7px;
                padding: 8px 15px;
                font-weight: 400;
                text-transform: uppercase;
            }
        }
    }
}

.dropdown-menu.animated {
    -webkit-animation-duration: 0.55s;
    animation-duration: 0.55s;

    -webkit-animation-timing-function: ease;
    animation-timing-function: ease;

}