.fileupload {
    overflow: hidden;
    position: relative;
}
.fileupload input.upload {
    cursor: pointer;
    filter: alpha(opacity=0);
    font-size: 20px;
    margin: 0;
    opacity: 0;
    padding: 0;
    position: absolute;
    right: -3px;
    top: -3px;
    padding:5px;
}

/*File Manager*/
.file-box {
    float: left;
    margin-bottom:20px;
}
.file-sec {
    border-left:1px solid $xtra_lighter_grey;
}

.file-manager {
    h5 {
        text-transform: uppercase;
    }
    list-style: none outside none;
    margin: 0;
    padding: 0;
}

.folder-list li {
    &.active {
        a {
            background:$xtra_lighter_grey;
        }
    }
    a {
        display: block;
        padding: 10px 15px;
        @include transition(.3s ease);
        &:hover {
            background:$xtra_lighter_grey;
        }
    }
    display: block;
    i {
        margin-right: 8px;
        color: $grey;
    }
}

.category-list li {
    a {
        color: #666666;
        display: block;
        padding: 5px 0;
    }
    display: block;
    i {
        margin-right: 8px;
        color: #3d4d5d;
    }
}

.file-manager h5.tag-title {
    margin-top: 20px;
}

.tag-list li {
    float: left;
    a {
        font-size: 12px;
        background-color: $light_grey;
        padding: 5px 12px;
        border: 1px solid $light_grey;
        margin-right: 5px;
        margin-top: 5px;
        display: block;
    }
}

.file-manager .hr-line-dashed {
    margin: 15px 0;
}

.file {
    border: 1px solid $light_grey;
    border-radius:2px;
    padding: 0;
    background-color: $white;
    position: relative;
    .icon, .image {
        height: 150px;
        overflow: hidden;
        background-size:cover;
        background-position:top;
    }
    .icon {
        padding: 15px 10px;
        display: table;
        width:100%;
        text-align: center;
    }
    .icon i {
        color: $blue;
        display: table-cell;
        font-size: 30px;
        vertical-align: middle;
    }
    .file-name {
        padding: 10px;
        background-color:$xtra_lighter_grey;
        border-top: 1px solid $xtra_lighter_grey;
        span {
            font-size:12px;
            color:$grey;
        }
    }
}

.file-control {
    font-size: 13px;
    margin-right: 10px;
    text-transform:uppercase;
    &.active {
        color:$red;
    }
}

.file-name small {
    color: $grey;
}

ul.tag-list li {
    list-style: none;
}


a.compose-mail {
    padding: 8px 10px;
}

.mail-search {
    max-width: 300px;
}

.ibox {
    clear: both;
    margin-bottom: 25px;
    margin-top: 0;
    padding: 0;
    &.collapsed {
        .ibox-content {
            display: none;
        }
        .fa {
            &.fa-chevron-up:before {
                content: "\f078";
            }
            &.fa-chevron-down:before {
                content: "\f077";
            }
        }
    }
    &:after, &:before {
        display: table;
    }
}

.ibox-title {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: $white;
    border-color: #e7eaec;
    border-image: none;
    border-style: solid solid none;
    border-width: 3px 0 0;
    color: inherit;
    margin-bottom: 0;
    padding: 14px 15px 7px;
    min-height: 48px;
}

.ibox-content {
    background-color: $white;
    color: inherit;
}

.ibox-footer {
    color: inherit;
    border-top: 1px solid $light_grey;
    font-size: 90%;
    background: $white;
    padding: 10px 15px;
}