.flot-container {
    width: 100%;
    height:400px;
    .legendColorBox > div {
        border: none!important;
    }
}

.demo-placeholder {
    width: 100%;
    height: 100%;
}
.flotTip {
    padding: 8px 12px;
    background: rgba(47,44,44,.9);
    z-index: 100;
    color: $white;
    font-size: 12px;
}
.legendLabel {
    font-family:$font_main;
    color:$black;
    font-size:12px;
    padding-left:9px;
}