.form-control {
    border: 1px solid rgba(33, 33, 33, 0.12);
    border-radius: 0;
    background-color:$white;
    box-shadow: none;
    color: $black;
    height: 42px;
    max-width: 800px;
    &:focus {
        border-color:rgba(33, 33, 33, 0.3);
        box-shadow: none;
        outline: 0 none;
    }
    &.filled-input {
        background:rgba(247,247,249,1);
        border:none;
        &:focus {
            background:rgba(247,247,249,.8);
        }
    }
    &.rounded-input {
        border-radius:60px;
    }
    &.rounded-outline-input {
        background:transparent;
        border: 1px solid $light_grey;
    }
}
.control-label {
    color:$black;
}
.input-group-addon {
    background: transparent none repeat scroll 0 0;
    border-color: $light_grey;
    border-radius: 0;
    color:$black;
    min-width:42px;
    &.btn {
        color:$white;
    }
}
.form-inline .checkbox label, .form-inline .radio label {
    padding-left:3px;
}
.control-label {
    font-weight: 400;
}
.checkbox,.radio {
    padding-top:5px;
    padding-bottom:5px;
    min-height:27px;
    margin-top:0;
    margin-bottom:0;
}

.form-inline {
    .checkbox,.radio {
        padding-top:0px;
        padding-bottom:0px;
    }
}

.form-control-feedback {
    line-height:42px;
    height:42px;
}
.help-block {
    font-size: 13px;
    color:$grey;
    font-weight: 300;
    max-width: 800px;
}

.invalid-feedback {
    font-size: 13px;
    color: #f35c4c!important;
    font-weight: 300;
    max-width: 800px;
    display: block;
    margin-top: 5px;
}

.has-success .form-control {
    border-color: rgba(74, 162, 60,.5);
    &:focus {
        border-color: rgba(74, 162, 60,1);
    }
}
.has-warning .form-control {
    border-color: rgba(248, 179, 45,.5);
    &:focus {
        border-color: rgba(248, 179, 45,1);
    }
}
.has-error .form-control {
    border-color: rgba(243, 57, 35,.5);
    &:focus {
        border-color: rgba(243, 57, 35,1);
    }
}
.has-success .checkbox, .has-success
.checkbox-inline, .has-success .control-label, .has-success .help-block, .has-success .radio, .has-success .radio-inline, .has-success.checkbox label, .has-success.checkbox-inline label, .has-success.radio label, .has-success.radio-inline label {
    color: $green;
}
.has-warning .checkbox, .has-warning
.checkbox-inline, .has-warning .control-label, .has-warning .help-block, .has-warning .radio, .has-warning .radio-inline, .has-warning.checkbox label, .has-warning.checkbox-inline label, .has-warning.radio label, .has-warning.radio-inline label {
    color: $yellow;
}
.has-error .checkbox, .has-error
.checkbox-inline, .has-error .control-label, .has-error .help-block, .has-error .radio, .has-error .radio-inline, .has-error.checkbox label, .has-error.checkbox-inline label, .has-error.radio label, .has-error.radio-inline label {
    color: $red;
}
.has-error .input-group-addon {
    background-color: transparent;
    color: $red;
    border-color:rgba(243, 57, 35,.5);
}
.has-success .input-group-addon {
    background-color: transparent;
    color: $green;
    border-color:rgba(74, 162, 60,.5);
}
.has-success .form-control-feedback {
    color: $green;
}
.has-warning .form-control-feedback {
    color: $yellow;
}
.has-error .form-control-feedback {
    color: $red;
}
div.colorpicker {
    padding:0;
}
.colorpicker {
    z-index:10;
    margin:0;
    &::before,
    &::after {
        display: none;
    }
}
.daterangepicker {
    .input-mini {
        border-color:$light_grey;
        border-radius:0;
        color:$black;
        &.active {
            border-color:$light_grey;
            border-radius:0;
            color:$black;
        }
        &:focus {
            border-color: $grey;
            box-shadow: none!important;
            outline: 0 none;
        }
    }
    td {
        border-radius:0!important;
    }
}
.daterangepicker td.active, .daterangepicker td.active:hover,
.bootstrap-datetimepicker-widget table td.active, .bootstrap-datetimepicker-widget table td.active:hover {
    background:$green;
}
.bootstrap-datetimepicker-widget table td.day {
    border-radius:0;
}
.select2-container--default .select2-selection--single .select2-selection__rendered,
.select2-container--default .select2-results__option[aria-selected="true"] {
    padding-left:12px;
}
.select2-container--default .select2-selection--single .select2-selection__rendered,
.select2-container--default .select2-selection--single {
    @extend .form-control;
    line-height:40px;
}
.select2-selection.select2-selection--multiple {
    @extend .form-control;
}
.select2-container--default .select2-selection--single {
    border:none;
}
.select2-container--default {
    width:100%!important;
    .select2-results__group,.select2-results__options--nested li {
        padding-left:12px;
    }
    &.select2-container--open {
        .select2-selection__rendered {
            border-color: $grey;
        }
    }
    .select2-selection__arrow {
        height:40px!important;
    }
}
.select2-container {
    .select2-selection--multiple {
        .select2-selection__rendered {
            padding-left:12px;
            line-height:40px;
        }
        .select2-search__field {
            margin-top:0;
        }
    }
}
.select2-container--default .select2-selection--multiple .select2-selection__choice {
    border-radius: 0;
    color: $white;
    padding: 8px 10px;
    margin-bottom: 10px;
    margin-right: 5px;
    display:inline-block;
    text-align: center;
    vertical-align: baseline;
    white-space: nowrap;
    background:$green;
    border:none;
    line-height:10px;
    font-size:12px;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    color:$white;
}
.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
    width: 100%;
}
.bootstrap-select {
    .dropdown-toggle:focus,.dropdown-toggle:active {
        outline:none!important;
    }
    .btn{
        &.dropdown-toggle {
            box-shadow:none;
            border: 1px solid rgba(33, 33, 33, 0.12);
        }
        .filter-option {
            color:$black;
        }
    }
}
.sm-bootstrap-select {
    .bootstrap-select {
        .btn.dropdown-toggle {
            font-size: 12px;
            height: 27px;
            padding: 3px 25px 3px 15px;
        }
        .dropdown-menu li a span.text {
            font-size:12px;
        }
    }
}
.switchery {
    margin-right:10px;
    margin-top:15px;
}
.no-margin-switcher {
    .switchery {
        margin-top:0;
    }
}

.bootstrap-touchspin .input-group-btn-vertical > .btn {
    border-radius: 0;
    padding: 10px;
    i {
        top:6px;
    }
}
.bootstrap-touchspin {
    .btn.btn-default.dropdown-toggle {
        color:$white!important;
    }
}

.ms-container .ms-list {
    border: 1px solid $light_grey;
    border-radius: 0;
    box-shadow: none;
}
.ms-container .ms-selectable li.ms-hover, .ms-container .ms-selection li.ms-hover {
    background:$green;
}

.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-primary, .bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-primary {
    background:$green;
    border-radius:0;
}
.bootstrap-switch {
    border-radius:0;
    border-color:$light_grey;
    box-shadow:none;
    &.bootstrap-switch-focused {
        border-color:$light_grey;
        box-shadow:none;
    }
}
.bootstrap-tagsinput {
    border: 1px solid $light_grey;
    border-radius: 0;
    box-shadow: none;
    color: $grey;
    .tag {
        border-radius: 0;
        color: white;
        background:$green;
    }
}
.tag {
    &.label {
        padding: 8px 10px;
        margin-bottom: 10px;
        margin-right: 5px;
        display:inline-block;
        font-size:12px;
        font-weight:400;
    }
}
.editableform {
    .editable-buttons {
        .btn {
            &.btn-sm {
                padding:9px 25px;
            }
        }
    }
    .form-control {
        &.input-sm {
            padding:6px 12px;
            font-size:14px;
        }
    }
    select.form-control.input-sm {
        height:42px;
        line-height:1.428;
    }
}

.dropify-wrapper {
    border:1px solid $light_grey;
}

.dropzone {
    border: 1px solid $light_grey;
    min-height: 200px;
    background:transparent;
    .dz-preview.dz-image-preview {
        background: transparent none repeat scroll 0 0;
    }
}

.checkbox {
    label{
        &:before {
            border-radius:0;
        }

    }
}

.checkbox input[type="checkbox"]:focus + label::before, .checkbox input[type="radio"]:focus + label::before,
.radio input[type="radio"]:focus + label::before {
    outline:none;
}

.checkbox-primary input[type="checkbox"]:checked + label::before,
.checkbox-primary input[type="radio"]:checked + label::before {
    background-color: $blue;
    border-color: $blue;
}

.checkbox-danger input[type="checkbox"]:checked + label::before,
.checkbox-danger input[type="radio"]:checked + label::before {
    background-color: $red;
    border-color: $red;
}

.checkbox-info input[type="checkbox"]:checked + label::before,
.checkbox-info input[type="radio"]:checked + label::before {
    background-color: $pink;
    border-color: $pink;
}

.checkbox-warning input[type="checkbox"]:checked + label::before,
.checkbox-warning input[type="radio"]:checked + label::before {
    background-color: $yellow;
    border-color: $yellow;
}

.checkbox-success input[type="checkbox"]:checked + label::before,
.checkbox-success input[type="radio"]:checked + label::before {
    background-color: $green;
    border-color: $green;
}

.checkbox-primary input[type="checkbox"]:indeterminate + label::before,
.checkbox-primary input[type="radio"]:indeterminate + label::before {
    background-color: $blue;
    border-color: $blue;
}

.checkbox-danger input[type="checkbox"]:indeterminate + label::before,
.checkbox-danger input[type="radio"]:indeterminate + label::before {
    background-color: $red;
    border-color: $red;
}

.checkbox-info input[type="checkbox"]:indeterminate + label::before,
.checkbox-info input[type="radio"]:indeterminate + label::before {
    background-color: $pink;
    border-color: $pink;
}

.checkbox-warning input[type="checkbox"]:indeterminate + label::before,
.checkbox-warning input[type="radio"]:indeterminate + label::before {
    background-color: $yellow;
    border-color: $yellow;
}

.checkbox-success input[type="checkbox"]:indeterminate + label::before,
.checkbox-success input[type="radio"]:indeterminate + label::before {
    background-color: $green;
    border-color: $green;
}

.radio-primary input[type="radio"] + label::after {
    background-color: $blue;
}
.radio-primary input[type="radio"]:checked + label::before {
    border-color: $blue;
}
.radio-primary input[type="radio"]:checked + label::after {
    background-color: $blue;
}

.radio-danger input[type="radio"] + label::after {
    background-color: $red;
}
.radio-danger input[type="radio"]:checked + label::before {
    border-color: $red;
}
.radio-danger input[type="radio"]:checked + label::after {
    background-color: $red;
}

.radio-info input[type="radio"] + label::after {
    background-color: $pink;
}
.radio-info input[type="radio"]:checked + label::before {
    border-color: $pink;
}
.radio-info input[type="radio"]:checked + label::after {
    background-color: $pink;
}

.radio-warning input[type="radio"] + label::after {
    background-color: $yellow;
}
.radio-warning input[type="radio"]:checked + label::before {
    border-color: $yellow;
}
.radio-warning input[type="radio"]:checked + label::after {
    background-color: $yellow;
}

.radio-success input[type="radio"] + label::after {
    background-color: $green;
}
.radio-success input[type="radio"]:checked + label::before {
    border-color: $green;
}
.radio-success input[type="radio"]:checked + label::after {
    background-color: $green;
}

.compare-packages {
    color: #585c58;
    font-size: 13px;
}

.trial {
    padding: 15px 40px 15px 15px;
    background: #daebf5;
    margin-bottom: 20px;
    color: #2b2983;
    position: relative;

    i {
        color: #2b2983;
        position: absolute;
        top: 15px;
        right: 15px;
        font-size: 20px;
    }

    span {
        font-weight: 500;
    }
}

.package-card {
    cursor: pointer;
    box-shadow: 0 0 4px #afafaf;
    float: left;
    padding: 15px;
    border-radius: 5px;
    border: 2px solid #fff;
    position: relative;
    width: calc((100% - 40px) / 3);
    margin-right: 20px;

    @media (max-width: 768px) {
        width: 100%;
        margin-right: 0;
        margin-bottom: 20px;
    }

    .title {
        color: #525252;
        display: block;
        margin-bottom: 10px;
        text-transform: uppercase;
        font-size: 16px;
        font-weight: 500;
        letter-spacing: 0.7px;
    }

    .description {
        display: block;
        margin-bottom: 10px;
    }

    .price-sign {
        font-size: 25px;
        font-weight: 500;
        position: relative;
        top: -10px;
        color: #1f884b;
    }

    .price {
        font-size: 40px;
        font-weight: 400;
        color: #1f884b;
    }

    .price-period {
        font-size: 14px;
        font-weight: 500;
        color: #1f884b;
    }

    .period {
        display: block;
        margin-top: 10px;
        font-size: 13px;
        color: #929292;
    }

    i {
        display: none;
        position: absolute;
        top: 15px;
        right: 15px;
        color: #1f884b;
        font-size: 20px;
    }

    &.active {
        background: #e9ffec;
        border: 2px solid #1f884b;

        i {
            display: block;
        }
    }

    &.last {
        margin-right: 0;
    }
}

.form-extra-attention {
    padding: 15px;
    background: #f6f6f6;
    border: 1px solid #e5e5e5;

    h5 {
        color: #555;
    }
}

.form-loader {
    display: none;
    margin-left: 10px;
}