.form-analyses {

    .table {
        border: 1px solid #f6f6f6;

        td {
            border: 1px solid #f6f6f6;
            vertical-align: top;
            min-width: 150px;

            p {
                white-space: normal!important;
            }
        }

        td.grey-bg {
            background: #f6f6f6;
            border: 1px solid #ededed;
            border-collapse: collapse;
        }

        tr {
            td:first-child, td:last-child {
                max-width: 200px;
                min-width: 200px;
            }
        }

        h6.field-title {
            font-weight: bold;
            color: #555;
        }

        h6.caps-heading {
            text-transform: uppercase;
            font-weight: bold;
            font-size: 14px;
            color: #9d9d9d;
        }

        .results-paragraph {
            font-weight: bold;
            font-size: 15px;
        }

        .sessions {
            font-weight: bold;
            font-size: 20px;
        }

        .drop-off-icon {
            position: relative;
            text-align: center;
        }

        .drop-off-icon i {
            display: block;
            font-size: 34px;
            position: absolute;
            top: -30px;
            left: calc(50% - 17px);
            width: 34px;
            background: #fff;
            border-radius: 100%;
        }

        td.drop-off {
            text-align: center;
            padding-top: 25px;
        }

        .results-row {
            td {
                height: 225px;
            }
        }
    }



}