.project-gallery {
    a {	display:block;
        overflow:hidden;
        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
        -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
        z-index: 1;
        width: 100%;
        position:relative;
        backface-visibility: hidden;
        -webkit-backface-visibility:hidden;
        @include transition(all 0.1s ease 0s);
        img {
            @include transform(translateY(0));
            @include transition(all 0.4s ease 0s);
            image-rendering: optimizeQuality;
        }
        .hover-cap {
            font-size: 12px;
            text-transform: uppercase;
            font-weight: 400;
            background: $white none repeat scroll 0 0;
            bottom: 0;
            color: black;
            height: 65px;
            padding-top: 25px;
            left: 0;
            overflow: hidden;
            perspective: 1px;
            position: absolute;
            text-align: center;
            text-transform: uppercase;
            @include transform(translateY(75px));
            @include transition(all 0.4s ease 0s);
            width: 100%;
        }
        &:hover {
            box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
            -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
            -moz-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
            img {
                @include transform(translateY(-20px));
            }
            .hover-cap {
                @include transform(translateY(0));
            }
        }
    }

}
.lg-sub-html h6 {
    margin-bottom:0;
}
#filters {
    li{
        margin-right:5px;
        margin-bottom:10px;
        a {
            background: #f7f7f9 none repeat scroll 0 0;
            border-radius: 60px;
            color: $grey;
            display: inline-block;
            padding: 10px 20px;
            text-transform: capitalize;
            font-size:14px;
            &.active,&:active,&:hover,&:focus {
                background:$green;
                color:$white;
            }
        }

    }
    &:last-child {
        margin-right:0;
    }
}