.icon-container {
    overflow: hidden;
    padding-bottom: 20px;
    padding-top: 20px;
    position: relative;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    @include transition(.3s ease);
    &:hover {
        color:$black;
    }
    i,span.glyphicon {
        margin-right:20px;
        font-size:18px;
    }
}
.glyphs.character-mapping {
    li,input:hover,input:focus {
        color:$black;
        border-color:$black;
    }
}
.font-icon-detail span:first-child {
    color:$black;
    border: 1px solid $light_grey;
}
.font-icon-list:hover .font-icon-detail span:first-child, .font-icon-detail.zeroclipboard-is-hover span:first-child {
    background-color:$black;
}