.label {
    padding: 3px 6px;
    font-size: 11px;
    border-radius: 50px;
    font-weight:400;

    &.label-info {
        background:$pink;
    }
    &.label-primary {
        background:$blue;
    }
    &.label-success {
        background:$green;
    }
    &.label-danger {
        background:$red;
    }
    &.label-warning {
        background:$yellow;
    }

    &.label-package {
        padding: 5px 10px;
        font-size: 12px;
        font-weight: 500;
        text-transform: uppercase;
        letter-spacing: 0.6px;
    }
}