.page-wrapper.auth-page {
    background: $primary-color;

    .btn-primary {
        background: #19713d;
    }
}
.sp-header {
    position:absolute;
    width:100%;
    z-index:1;

    .btn-primary {
        background: #19713d;
    }
}
.box-layout .sp-header {
    max-width: 1400px;
    left: auto;
    right: auto;
}
.sp-logo-wrap {
    padding-top:19px;
    padding-left:15px;
    .brand-img {
        position: relative;
        top: 2px;
    }
}
.form-group.pull-right {
    padding-top:19px;
    padding-right:15px;
}
.auth-form-wrap {
    padding:100px 0;
}
.auth-form {
    width: 400px;

    a.txt-danger {
        &:hover{
            color:$red;
        }
    }
}

.page-wrapper.auth-page {
    .form-group {
        .form-control.is-invalid {
            border: 1px solid $red;
        }

        .invalid-feedback {
            line-height: 30px;
            color: $red;

            strong {
                font-weight: normal!important;
            }
        }
    }
}