.modal-dialog {
    .modal-content {
        border-radius:0;
        border:none;
    }
    .modal-header {
        background: $primary-color;
        border-bottom: 0;

        h4.modal-title {
            color: #fff;
        }

        button.close {
            opacity: 1;
            font-size: 30px;
            color: #fff;
        }
    }
    .modal-body {
        p {
            margin-bottom: 10px;
        }

        h4 {
            font-size: 17px;
            line-height: 26px;
            color: $primary-color;
        }

        ul {
            margin-bottom: 10px;
        }

        ul.limits {
            li {
                margin-bottom: 12px;

                span.label-package {
                    margin-right: 10px;
                }
            }
        }
    }
    .modal-footer {
        border:none;
        background: #f6f6f6;
    }
}