.navbar {
    &.navbar-inverse {
        background:$white;
        &.navbar-fixed-top {
            border-bottom:1px solid $light_grey;
            margin-bottom:0;
            min-height:66px;
            padding:0 15px 0 0;
            .nav-header {
                width:225px;
                padding-left:15px;
                height: 66px;
                @include transition(.4s ease);
                overflow:hidden;
                .logo-wrap {
                    width:225px;
                    padding-top: 15px;
                }

            }
            .top-nav-search {
                padding-top:14px;
                width:320px;
                margin-left:25px;
                .input-group {
                    width:100%;
                    input {
                        border-radius: 50px;
                        height:36px;
                        background:#f4f4f4;
                        padding-right: 30px;
                    }
                    .input-group-btn {
                        position: absolute;
                        right: 22px;
                        top: 8px;
                        z-index: 4;
                        > .btn {
                            background: transparent none repeat scroll 0 0;
                            border: medium none;
                            padding: 0;
                            i {
                                color:$grey;
                                font-size:20px;
                            }
                        }
                    }
                }
            }
            .nav {
                > li {
                    &.dropdown {
                        position:relative;
                    }
                    &.full-width-drp {
                        position:static;
                    }
                    > a {
                        color:$grey;
                        background:transparent!important;
                        @include transition (.3s ease);
                        padding: 0 12px;
                        line-height: 66px;
                        &:hover,&:focus,&:active {
                            background: #219551 !important;
                            color:$black;
                        }
                        .user-auth-img {
                            height:43px;
                            width:43px;
                            vertical-align:middle;
                        }
                    }
                    .dropdown-menu {
                        &.app-dropdown {
                            min-width: 270px;
                            .connection-item {
                                display: inline-block;
                                padding-bottom: 10px;
                                padding-top: 10px;
                                text-align: center;
                                color:$grey;
                                text-transform:capitalize;
                                width:80px;
                                i {
                                    font-size: 25px;
                                    padding-bottom: 5px;
                                }
                                &:hover {
                                    color:$grey;
                                    background:$xtra_lighter_grey;
                                }
                            }
                            .app-icon-wrap {
                                text-align:center;
                                > li {
                                    display:inline-block;
                                }
                            }
                            .app-box-bottom-wrap {
                                .read-all {
                                    padding:5px 15px 0;
                                    font-size:13px;
                                    color:$grey;
                                    text-transform:capitalize;
                                }
                            }
                        }
                        &.alert-dropdown {
                            width: 400px;
                            .notification-box-head-wrap {
                                .notification-box-head {
                                    font-size:16px;
                                    color:$black;
                                    display:block;
                                    text-transform:capitalize;
                                    padding:7px 15px 10px;
                                }
                                .clear-notifications {
                                    padding:12px 15px 10px;
                                    text-transform:uppercase;
                                    font-size:11px;
                                }
                            }
                            .notification-box-bottom-wrap {
                                .read-all {
                                    padding:5px 15px 0;
                                    font-size:13px;
                                    color:$grey;
                                    text-transform:capitalize;
                                }
                            }
                            .streamline {
                                height:229px;
                                position:relative;
                                .sl-item {
                                    margin-left:0;
                                    border-left:none;
                                    padding:7px 15px 0;
                                    @include transition(.2s ease);
                                    &:hover {
                                        background: $xtra_lighter_grey;
                                    }
                                    &:before {
                                        display:none;
                                    }
                                    >a {
                                        display:block;
                                    }
                                    .icon {
                                        height: 44px;
                                        position: absolute;
                                        text-align: center;
                                        width: 44px;
                                        display:table;
                                        i {
                                            font-size: 24px;
                                            vertical-align:middle;
                                            display:table-cell;
                                            color:$white;
                                        }
                                    }
                                    .sl-avatar {
                                        left:auto;
                                        height:44px;
                                        width:44px;
                                        img {
                                            height:44px;
                                            width:44px;
                                        }
                                    }
                                    .sl-content {
                                        margin-left:60px;
                                        > .head-notifications  {
                                            width:230px;
                                            font-size:13px;
                                            font-weight:500;
                                        }
                                        .notifications-time {
                                            color:$grey;
                                        }
                                        > p {
                                            font-size:13px;
                                            color:$grey;
                                        }
                                    }
                                }
                            }
                        }
                        &.user-auth-dropdown {
                            min-width: 175px;
                            text-transform: capitalize;
                        }
                        &.mega-menu {
                            right: 23px;
                            width: calc(100% - 270px);
                            display: block;
                            opacity: 0;
                            visibility: hidden;
                            height:0;
                            overflow:hidden;
                            li.col-menu-list {
                                > a {
                                    font-size:16px;
                                    padding:10px 0;
                                    display:block;
                                    background:transparent;
                                    text-transform:capitalize;
                                    .pull-left {
                                        i {
                                            color:$black;
                                            font-size: 18px;
                                            margin-right: 10px;
                                            width: 18px;
                                        }
                                    }
                                    .pull-right {
                                        i {
                                            color:$black;
                                            font-size: inherit;
                                            margin-right: 0;
                                            width: auto;
                                        }
                                    }
                                }
                                > ul {
                                    > li {
                                        > a {
                                            display: block;
                                            text-transform:capitalize;
                                            padding: 8px 0 8px 39px;
                                            color:$grey;
                                        }
                                    }
                                }
                            }
                            li.preview-carousel {
                                > a {
                                    font-size:16px;
                                    padding:10px 0;
                                    background:transparent;
                                    display:inline-block;
                                    text-transform:capitalize;
                                }
                                .product-carousel {
                                    a {
                                        >span {
                                            font-size:12px;
                                            color:$black;
                                            text-transform:uppercase;
                                            font-weight:500;
                                        }
                                    }
                                    &.owl-theme {
                                        >.owl-nav {
                                            margin: 0;
                                            position: absolute;
                                            right: 0;
                                            top: -40px;
                                            .owl-prev,.owl-next {
                                                padding:0;
                                                border:none;
                                                background:transparent;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                .open {
                    > a {
                        background:$white;
                        &:focus,&:hover,&:active {
                            background:$white;
                        }
                    }
                    > .dropdown-menu.mega-menu {
                        opacity: 1;
                        visibility: visible;
                        height:auto;
                        overflow:auto;
                    }
                }
                &.top-nav {
                    > li {
                        display: inline-block;
                        float: left;
                        font-size: 13px;
                        font-weight: 300;
                        > a {
                            i.top-nav-icon {
                                font-size:24px;
                                vertical-align:middle;
                            }
                            .top-nav-icon-badge {
                                background: $green;
                                border-radius: 50%;
                                color: $white;
                                font-size: 10px;
                                height: 16px;
                                line-height: 16px;
                                position: absolute;
                                right: 0;
                                text-align: center;
                                top: 16px;
                                width: 16px;
                            }
                        }
                    }
                }
                &.navbar-right {
                    margin-right:0;
                }
            }
            .navbar-search-overlap {
                background-color: #fff;
                left: 0;
                position: absolute !important;
                right: 0;
                top: 0;
                input {
                    border: medium none !important;
                    min-height: 59px;
                }
            }
            .navbar-right .dropdown-menu {
                left: auto;
                right: 0;
            }

        }
    }
}

@media (max-width: 767px) {
    .navbar {
        &.navbar-inverse {
            &.navbar-fixed-top {
                ul.nav {
                    li {
                        a {
                            padding: 0 15px;

                            .mb-icon {
                                font-size: 20px;
                            }

                            span {
                                display: none;
                            }
                        }

                        .dropdown-menu {
                            li {
                                a {
                                    padding: 8px 15px;

                                    span {
                                        display: inline-block;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.slide-nav-toggle  {
    .navbar.navbar-inverse.navbar-fixed-top .nav-header {
        width:44px;
        .logo-wrap {
            .brand-text {
                opacity:0;
                visibility:hidden;
            }
        }
    }

    &.sidebar-hover .navbar.navbar-inverse.navbar-fixed-top .nav-header {
        width:225px;
        .logo-wrap {
            .brand-text {
                opacity:1;
                visibility:visible;
            }
        }
    }
    .fixed-sidebar-left{
        width:44px;
        .side-nav li.navigation-header {
            > span {
                display:none;
            }
            >i {
                display:block;
            }
        }

        .collapse.in {
            display: none;
        }
        &:hover {
            width:225px;
            .side-nav li.navigation-header {
                > span {
                    display:block;
                }
                >i {
                    display:none;
                }
            }
            .collapse.in {
                display: block;
            }
            .right-nav-text {
                opacity: 1;
            }
        }
        .right-nav-text {
            opacity: 0;
        }
    }
    .page-wrapper{
        margin-left:44px;
    }
}

.card-view {
    background:$white;
    margin-bottom:20px;
    border: 1px solid #e2e2e2;
    border-radius: 0;
    box-shadow: none;
    padding:15px 15px 0;
    margin-left:-5px;
    margin-right:-5px;
    &.panel{
        > .panel-heading {
            border:none;
            color: inherit;
            border-radius:0;
            margin: -15px -15px 0;
            padding:20px 15px;
            &.small-panel-heading {
                padding:11px 15px;
            }
            .head-overlay {
                background: rgba(255, 255, 255, 0.2) none repeat scroll 0 0;
                height: 100%;
                left: 0;
                position: absolute;
                top: 0;
                width: 100%;
            }
            .pull-right {
                button {
                    background:#f4f4f4;
                }
            }
        }
        .panel-body {
            padding:20px 0 20px;
        }
        &.panel-default {
            > .panel-heading {
                background:#f4f4f4;
            }
            &.border-panel,&.panel-tabs {
                > .panel-heading {
                    border-bottom:1px solid $light_grey;
                }
                .panel-body {
                    padding-top:20px;
                }
            }
            &.panel-tabs {
                > .panel-heading {
                    padding-bottom:0;
                }
                .nav-tabs {
                    border-bottom:none;
                    > li > a {
                        padding: 0 5px 12px;
                        float:left;
                    }
                }

            }
        }
        &.panel-info,
        &.panel-success,
        &.panel-warning,
        &.panel-danger,
        &.panel-primary,
        &.panel-inverse {
            .panel-body {
                padding-top:20px;
            }
        }
        &.fullscreen {
            height: 100%;
            left: 0;
            margin: 0;
            position: fixed;
            overflow-y: auto;
            top: 0;
            width: 100%;
            z-index: 1040;
            > .panel-heading {
                .pull-right {
                    > a,.dropdown {
                        opacity:0;
                        visibility:hidden;
                        &.full-screen {
                            opacity:1;
                            visibility:visible;
                            i.zmdi-fullscreen::before {
                                content:"\f16c";
                            }
                        }
                    }
                }
            }
        }
    }

}

.heading-bg {
    height: 67px;
    margin: 0 -20px 10px;
    padding: 13px 0;
    h5 {
        padding-top:6px;
    }
}

.breadcrumb {
    background-color: transparent;
    float: right;
    list-style: outside none none;
    margin-bottom: 0;
    padding: 9px 0 0 0;
    font-size:13px;
    a {
        color:$black;
        opacity:.7;
        @include transition(.3s ease);
        &:hover {
            opacity:1;
        }
        font-weight: 300;
    }
    span {
        color:$black;
    }
}

.breadcrumb > li + li::before {
    color: $black;
    opacity:.5;
    font-family: "Font Awesome 5 Free";
    content: "\f105";
    padding:0 9px;
    font-weight: bold;
}
footer {
    position:absolute;
    bottom: 0;
    width:100%;
    height:40px;
    left:0;
    p {
        display: block;
        font-size: 12px;
        line-height:40px;
    }
    .brand {
        display: block;
        float: left;
        padding-top:4px;
    }
    .navbar-nav > li > a {
        padding-bottom: 0;
        padding-top: 5px;
        padding-left:10px;
        padding-left:10px;
        font-size:12px;
        text-transform: capitalize;
    }
    .nav > li > a:focus, .nav > li > a:hover {
        background:transparent;
        opacity:.8;
    }
}
.font-icon-detail span{
    border-radius:0!important;
}