.dd-handle {
    @extend .form-control;
    font-weight:400;
    margin: 0 0 15px;
    font-size:14px;
    padding-top:10px;
    background:transparent;
    color:$grey;
    &:hover,&:focus,&:active {
        color:$black;
    }
}
.dd-item > button {
    margin:0;
    height:42px;
}
.dd-placeholder {
    background:transparent;
    border-color:$light_grey;

}
.dd3-content {
    display: block;
    @extend .form-control;
    color:$grey;
    margin: 0 0 15px;
    font-size:14px;
    padding-top:10px;
    padding: 10px 10px 5px 52px;
    &:hover,&:focus,&:active {
        color:$black;
    }
}

.dd-dragel > .dd3-item > .dd3-content {
    margin: 0;
}

.dd3-item > button {
    margin-left: 30px;
}

.dd3-handle {
    position: absolute;
    margin: 0;
    left: 0;
    top: 0;
    cursor: pointer;
    width: 42px;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    &:before {
        font-family: "Font Awesome 5 Free";
        content: "\f047";
        color:$grey;
        display: block;
        position: absolute;
        left: 0;
        top: 10px;
        width: 100%;
        text-align: center;
        text-indent: 0;
    }
}