.panel-pricing {
    background:#f7f7f9;
    border-radius:0;
    @include transition(.3s ease);
    &:hover {
        box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.05);
    }
    .list-group-item {
        background:transparent;
        border:none;
        border-radius:0;

        &.active {
            background: $primary-color;
            color: $white;
        }
    }
    .panel-body {
        hr {
            border-color:$light_grey;
            border-width:2px;
        }
        .list-group {
            hr {
                border-width:1px;
            }
            .list-group-item {
                i {
                    color:$green;
                    padding-right:15px;
                }
            }
        }

    }
    .panel-heading {
        i {
            display: block;
            font-size: 50px;
            margin-bottom: 25px;
            margin-top: 50px;
            color:$black;
        }
        .panel-price {
            font-size:40px;
            color:$black;
            font-weight:700;
            display:block;
            margin-top:20px;
            text-transform:capitalize;
            .pricing-dolor {
                display: inline-block;
                font-size: 18px;
                padding-top: 10px;
                vertical-align: top;
            }
        }

        .period {
            font-size: 18px;
        }
    }
    .panel-footer {
        border:none;
        .btn {
            font-size:14px;
        }
    }
}