.payment-methods {
    .col-md-4 {
        a {
            background: #e3e3e3;
            text-align: center;
            padding: 25px;
            display: block;

            &:hover {
                background: #eeeeee;
            }

            &.active {
                background: $primary-color;
                color: #fff;
            }
        }
    }
}