.progress {
    -webkit-box-shadow: none !important;
    background-color: rgba(120, 130, 140, 0.13);
    box-shadow: none !important;
    height: 6px;
    border-radius: 50px;
    margin-bottom: 18px;
    overflow: hidden;
    .progress-bar {
        box-shadow: none;
        font-size: 8px;
        font-weight: 600;
        line-height: 12px;
        &:last-child {
            border-radius:0 60px 60px 0;
        }
    }

    &.progress-xs {
        height: 5px !important;
    }
    &.progress-sm {
        height: 8px !important;
    }
    &.progress-md {
        height: 15px !important;
        .progress-bar {
            font-size: 8px;
            font-weight: 400;
            line-height: 14.4px;
        }
    }
    &.progress-lg {
        height: 20px !important;
        .progress-bar {
            font-size: 10px;
            font-weight: 400;
            line-height: 20px;
        }
    }
}
.progress-bar-info {
    background:$pink;
}
.progress-bar-primary {
    background:$blue;
}

.progress-bar-success {
    background:$green;
}
.progress-bar-danger {
    background:$red;
}
.progress-bar-warning {
    background:$yellow;
}
.progress-vertical {
    min-height: 250px;
    height: 250px;
    width: 8px;
    position: relative;
    display: inline-block;
    margin-bottom: 0;
    margin-right: 20px;
    .progress-bar {
        width: 100%;
        &:last-child {
            border-radius: 0 60px 60px;
        }
    }
}

.progress-vertical-bottom {
    min-height: 250px;
    height: 250px;
    position: relative;
    width: 8px;
    display: inline-block;
    margin-bottom: 0;
    margin-right: 20px;
    .progress-bar {
        width: 100%;
        position: absolute;
        bottom: 0;
        &:last-child {
            border-radius:60px 60px 60px 0!important;
        }
    }
}

.progress-vertical.progress-sm, .progress-vertical-bottom.progress-sm {
    width: 8px !important;
}

.progress-vertical.progress-sm .progress-bar, .progress-vertical-bottom.progress-sm .progress-bar {
    font-size: 8px;
    line-height: 5px;
}

.progress-vertical.progress-md, .progress-vertical-bottom.progress-md {
    width: 15px !important;
}

.progress-vertical.progress-md .progress-bar, .progress-vertical-bottom.progress-md .progress-bar {
    font-size: 10.8px;
    line-height: 14.4px;
}

.progress-vertical.progress-lg, .progress-vertical-bottom.progress-lg {
    width: 20px !important;
}

.progress-vertical.progress-lg .progress-bar, .progress-vertical-bottom.progress-lg .progress-bar {
    font-size: 12px;
    line-height: 20px;
}

.progress-bar-striped, .progress-striped .progress-bar {
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent) !important;
    background-size: 40px 40px !important;
}