.sweet-alert {
    border-radius:2px;
    font-family:inherit;
    h2 {
        font-weight:400;
        color:$black;
    }
    button {
        @extend .btn;
        box-shadow:none;
        font-size:inherit;
    }
}