.table > tbody > tr.active > td, .table > tbody > tr.active > th, .table > tbody > tr > td.active, .table > tbody > tr > th.active, .table > tfoot > tr.active > td, .table > tfoot > tr.active > th, .table > tfoot > tr > td.active, .table > tfoot > tr > th.active, .table > thead > tr.active > td, .table > thead > tr.active > th, .table > thead > tr > td.active, .table > thead > tr > th.active {
    background:rgba(220,220,220,.08);
}

.table > tbody > tr.success > td, .table > tbody > tr.success > th, .table > tbody > tr > td.success, .table > tbody > tr > th.success, .table > tfoot > tr.success > td, .table > tfoot > tr.success > th, .table > tfoot > tr > td.success, .table > tfoot > tr > th.success, .table > thead > tr.success > td, .table > thead > tr.success > th, .table > thead > tr > td.success, .table > thead > tr > th.success {
    background:rgba(74, 162, 60,.08);
}

.table > tbody > tr.info > td, .table > tbody > tr.info > th, .table > tbody > tr > td.info, .table > tbody > tr > th.info, .table > tfoot > tr.info > td, .table > tfoot > tr.info > th, .table > tfoot > tr > td.info, .table > tfoot > tr > th.info, .table > thead > tr.info > td, .table > thead > tr.info > th, .table > thead > tr > td.info, .table > thead > tr > th.info {
    background:rgba(231, 54, 141,.08);
}

.table > tbody > tr.warning > td, .table > tbody > tr.warning > th, .table > tbody > tr > td.warning, .table > tbody > tr > th.warning, .table > tfoot > tr.warning > td, .table > tfoot > tr.warning > th, .table > tfoot > tr > td.warning, .table > tfoot > tr > th.warning, .table > thead > tr.warning > td, .table > thead > tr.warning > th, .table > thead > tr > td.warning, .table > thead > tr > th.warning {
    background:rgba(248, 179, 45,.08);
}

.table > tbody > tr.danger > td, .table > tbody > tr.danger > th, .table > tbody > tr > td.danger, .table > tbody > tr > th.danger, .table > tfoot > tr.danger > td, .table > tfoot > tr.danger > th, .table > tfoot > tr > td.danger, .table > tfoot > tr > th.danger, .table > thead > tr.danger > td, .table > thead > tr.danger > th, .table > thead > tr > td.danger, .table > thead > tr > th.danger {
    background:rgba(243, 57, 35,.08);
}

.table-responsive {
    border:none;
    .table {
        max-width: none;
        -webkit-overflow-scrolling: touch !important;
    }
}

.table {
    border-color:$light_grey!important;
}
.table>tbody>tr>td,.table>tbody>tr>th, .table>tfoot>tr>td,.table>tfoot>tr>th, .table>thead>tr>td,.table>thead>tr>th {
    padding:16px;
    border-top:1px solid $light_grey;
    vertical-align: middle;
}

.table>thead>tr>th, .table>tfoot>tr>th{
    border-bottom: 2px solid $light_grey!important;
    color:$black;
    font-size:12px;
    font-weight: 500;
    text-transform:uppercase;
}
.table>tfoot>tr>th{
    border-bottom: 1px solid $light_grey!important;
}
.table-hover>tbody>tr:hover {
    background-color: $xtra_lighter_grey!important;
}

.table-bordered {
    border: 1px solid $light_grey;
}

.table-bordered > tbody > tr > td, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > td, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > thead > tr > th {
    border: 1px solid $light_grey;
}
.table-striped > tbody > tr:nth-of-type(2n+1) {
    background-color: $xtra_lighter_grey;
}
.color-bg-table {
    .table > caption + thead > tr:first-child > td, .table >
    caption + thead > tr:first-child > th, .table > colgroup + thead > tr:first-child > td, .table > colgroup + thead > tr:first-child > th, .table > thead:first-child > tr:first-child > td, .table > thead:first-child > tr:first-child > th {
        background: $green;
    }
    .table > thead > tr > th {
        color:$white;
    }
}

.bootstrap-table {
    .fixed-table-container {
        border: 1px solid $light_grey;
        border-radius: 0;
    }


    .fixed-table-container {
        tbody {
            td {
                border:1px solid $light_grey;
            }
        }
    }
}
.fixed-table-body {
    .card-view {
        background: transparent;
        border: medium none;
        border-radius: 0;
        box-shadow: none;
        margin-bottom: 0;
        padding: 0;
        .title {
            font-weight: 400;
        }
        &:hover {
            box-shadow: none;
        }
    }
}
table.dataTable tbody tr {
    background-color: transparent;
}
table.dataTable.display tbody tr.even > .sorting_1, table.dataTable.order-column.stripe tbody tr.even > .sorting_1 {
    background-color: inherit;
}

table.dataTable.display.table-striped > tbody > tr:nth-of-type(2n+1) {
    background:$xtra_lighter_grey;
}
table.dataTable.order-column tbody tr > .sorting_1, table.dataTable.order-column tbody tr > .sorting_2, table.dataTable.order-column tbody tr > .sorting_3, table.dataTable.display tbody tr > .sorting_1, table.dataTable.display tbody tr > .sorting_2, table.dataTable.display tbody tr > .sorting_3,table.dataTable.display tbody tr.odd > .sorting_1, table.dataTable.order-column.stripe tbody tr.odd > .sorting_1 ,table.dataTable.stripe tbody tr.odd, table.dataTable.display tbody tr.odd ,table.dataTable.hover tbody tr:hover, table.dataTable.display tbody tr:hover {
    background-color: inherit;
}
table.dataTable.display.table-striped tbody tr > .sorting_1,
table.dataTable.display tbody tr:hover > .sorting_1, table.dataTable.order-column.hover tbody tr:hover > .sorting_1
{
    background:transparent;
}

table.dataTable.row-border tbody th, table.dataTable.row-border tbody td, table.dataTable.display tbody th, table.dataTable.display tbody td {
    border-color: $light_grey;
    border-left:none;
    border-bottom:none;
}
table.dataTable > tfoot > tr > th {
    border-bottom: 0 solid $light_grey !important;
    border-left: medium none !important;
}
table.dataTable{
    border-right: medium none !important;
}
table.dataTable > caption + thead > tr:first-child > td, table.dataTable > caption + thead > tr:first-child > th, table.dataTable > colgroup + thead > tr:first-child > td, .table > colgroup + thead > tr:first-child > th, table.dataTable > thead:first-child > tr:first-child > td, table.dataTable > thead:first-child > tr:first-child > th {
    border-left: medium none !important;
}
.dataTables_wrapper {
    .dataTables_filter input,.dataTables_length select{
        @extend .form-control;
    }
    .dataTables_filter,.dataTables_length {
        margin-bottom:30px;
    }
    .dataTables_length,.dataTables_filter {
        padding-top:20px;
        margin-bottom:14px;
        color:$grey;
    }
    .dataTables_length,
    .dataTables_info {
        padding-left:15px;
    }
    .dataTables_info {
        color:$grey;
    }
    .dataTables_filter {
        padding-right:15px;
    }
    .dataTables_filter input,.dataTables_length select{
        height:25px
    }
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover,.dataTables_wrapper .dataTables_paginate .paginate_button:hover,.dataTables_wrapper .dataTables_paginate .paginate_button:active,.dataTables_wrapper .dataTables_paginate .paginate_button:focus {
    background: $green;
    border-color: $green;
    color: $white !important;
    box-shadow:none;
}
.dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter, .dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_processing, .dataTables_wrapper .dataTables_paginate {
    color:$black;
}

.sorting,
.sorting_asc,
.sorting_desc {
    position:relative;
}

table.dataTable thead .sorting::after {
    content: "\f0dc";
    opacity: 0.2;
}

table.dataTable thead .sorting_asc::after {
    content: "\f0de";
}

table.dataTable thead .sorting_desc::after {
    content: "\f0dd";
}

table.dataTable thead .sorting::after, table.dataTable thead .sorting_asc::after, table.dataTable thead .sorting_desc::after {
    display: block;
    font-family: "Font Awesome 5 Free";
    position: absolute;
    right: 10px;
    top: 15px;
    font-size:14px;
}

table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc {
    background:none;
    border-left: medium none;
    border-top: medium none;
}
.dt-buttons {
    float:left;
    .dt-button {
        @extend .btn;
        @extend .btn-xs;
        @extend .btn-primary;
        display:inline-block;
        margin-right:10px;
        margin-bottom:10px;
        &:hover {
            color:$white;
        }
        &:last-child {
            margin-right:0;
        }
    }
}
table.dataTable.dtr-inline.collapsed > tbody > tr > td:first-child::before, table.dataTable.dtr-inline.collapsed > tbody > tr > th:first-child::before {
    background-color: $green;
    box-shadow: none;
}
table.dataTable.dtr-inline.collapsed > tbody > tr.parent > td:first-child::before, table.dataTable.dtr-inline.collapsed > tbody > tr.parent > th:first-child::before {
    background-color: $red;
    box-shadow: none;
}

table.footable > tbody > tr > td.footable-sortable, table.footable > tbody > tr > th.footable-sortable, table.footable > tfoot > tr > td.footable-sortable, table.footable > tfoot > tr > th.footable-sortable, table.footable > thead > tr > td.footable-sortable, table.footable > thead > tr > th.footable-sortable {
    padding:16px;
    border-top:none;
}
table.footable > tr.footable-filtering > th,
table.footable > thead > tr.footable-filtering > th {
    border:none!important;
}
tr.footable-header > th {
    border-top:none!important;
}
.footable-details.table {
    background:transparent;
}
.footable-editing {
    .btn {
        &.footable-edit,&.footable-delete {
            background:transparent;
            border:none!important;
            .fooicon.fooicon-pencil {
                color:$green;
            }
            .fooicon.fooicon-trash {
                color:$red;
            }
        }
    }
}
.footable-show {
    .fooicon.fooicon-pencil {
        padding-right:6px;
    }
}
.footable-filtering {
    .checkbox{
        margin-bottom: inherit;
        margin-top: inherit;
        min-height: inherit;
        padding: 3px 20px !important;
        font-family:$font_main;
        text-transform:capitalize;
        input[type="checkbox"] {
            opacity:1;
        }
        label::before {
            display:none;
        }
    }
}

.fooicon.fooicon-sort,
.fooicon.fooicon-sort-asc,
.fooicon.fooicon-sort-desc {
    font-family: "Font Awesome 5 Free"!important;
    font-size:14px;
}
.fooicon.fooicon-sort {
    &:before {
        content: "\f0dc";
    }
}
.fooicon.fooicon-sort-asc {
    &:before {
        content: "\f0de";
    }
}
.fooicon.fooicon-sort-desc {
    &:before {
        content: "\f0dd";
    }
}

table.footable > tbody > tr.footable-empty > td {
    font-size:18px;
}
.jsgrid {
    height:auto!important;
}
.jsgrid-grid-header {
    overflow:auto;
}
.jsgrid-pager-page {
    display: inline-block;
    margin-bottom: 5px;
}
.jsgrid-table {
    @extend .table;
}
.jsgrid-row > .jsgrid-cell,
.jsgrid-alt-row > .jsgrid-cell {
    background:transparent;
    border-color:$light_grey;
}

.jsgrid-header-row > .jsgrid-header-cell {
    background: inherit;
    font-size:12px;
    color:$black;
    text-align:left;
    text-transform:uppercase;
}
.jsgrid-filter-row > .jsgrid-cell, .jsgrid-header-row > .jsgrid-header-cell, .jsgrid-insert-row > .jsgrid-cell {
    background: inherit;
    border-bottom: 1px solid $light_grey;
}
.jsgrid-edit-row > .jsgrid-cell, .jsgrid-filter-row > .jsgrid-cell, .jsgrid-grid-body, .jsgrid-grid-header, .jsgrid-header-row > .jsgrid-header-cell, .jsgrid-insert-row > .jsgrid-cell {
    background: inherit;
    border-color:$light_grey;
    height:auto!important;
    overflow:auto;
}
.jsgrid-alt-row > .jsgrid-cell {
    background: inherit;
}
.jsgrid-cell input,.jsgrid-cell select{
    @extend .form-control;
}
.jsgrid-selected-row > .jsgrid-cell {
    background: inherit;
    border-color: $light_grey;
}
.jsgrid-pager {
    color:$black;
    margin-top:10px;
    a {
        color:$black;
    }
}
.jsgrid-align-center, .jsgrid-align-center input, .jsgrid-align-center select, .jsgrid-align-center textarea,.jsgrid-align-right, .jsgrid-align-right input, .jsgrid-align-right select, .jsgrid-align-right textarea {
    text-align:left;
}
.jsgrid-pager-current-page,.jsgrid-pager-page a:hover,.jsgrid-pager-page a:active,.jsgrid-pager-page a:focus {
    background: $green;
    border: 1px solid $green;
    color: $white;
    font-weight: 400;
}
.jsgrid-pager-page ,.jsgrid-pager-page a{
    padding: 5px 10px;
    border: 1px solid transparent;
}

.tablesaw-swipe .tablesaw-cell-persist {
    box-shadow: none;
    border-right: inherit;
}

.tablesaw-sortable th.tablesaw-sortable-head button {
    @extend .btn;
    @extend .btn-default;
    @extend .btn-outline;
    padding: 0;
    border:none!important;
    font-weight: normal;
    font-size:12px;
    text-transform:uppercase;
}

.tablesaw {
    margin-bottom:0!important;
    thead {
        background:transparent;
        border:none;
        tr:first-child th {
            border-right: medium none;
            padding:16px!important;
        }
    }
    td a {
        color:$grey!important;
    }
    td,tbody th {
        vertical-align: middle;
        font-size: inherit;
        color:$grey!important;
    }
}



.tablesaw-toolbar {
    font-size: 100%;
    margin-bottom: 30px;
    label {
        color:$black;
        display: block;
        margin-right: 0;
        padding: 0;
        text-transform: uppercase;
    }
}

.tablesaw-bar .btn-select select {
    opacity: 1;
    font-family:$font_main;
    color:$black!important;
    font-size:14px!important;
    font-weight: 400;
    text-transform: capitalize;
    filter: alpha(opacity=1);
    display: inline-block;
    color: inherit;
    background: transparent;
    position: static;
    @extend .form-control;
}
.tablesaw-enhanced .tablesaw-bar .btn:hover, .tablesaw-enhanced .tablesaw-bar .btn:focus {
    background:transparent;
}
.tablesaw-bar .tablesaw-toolbar .btn {
    font-size: 0 !important;
}

.btn.btn-small.btn-select {
    padding-left: 20px;
    padding-right: 20px !important;
}

.tablesaw-bar .btn-select::after {
    display: none;
}

.tablesaw-enhanced .tablesaw-bar .btn:active {
    background-image: none;
    box-shadow: none !important;
}

.tablesaw-bar .btn select option {
    color:$black;
    font-family:$font_main;
    font-weight:400;
}

.table {
    a.action {
        color: #5c5c5c;

        &:hover {
            color: #2c2c2c;
        }

        &.action-button {
            border-radius: 100%;
            padding: 10px 12px;
            color: #5c5c5c;
            border: 1px solid #5c5c5c;

            &:hover {
                border: 1px solid #27ae5f;
                background: #27ae5f;
                color: #fff;
            }

            &.delete {
                &:hover {
                    border: 1px solid #ed385d;
                    background: #ED385D;
                }
            }
        }
    }
}