.tooltip-inner {
    border-radius:0;
    font-family: 'Roboto', 'sans-serif';
    background: $black;
    text-align: left;
    padding: 15px 20px;
    line-height: 24px;
    font-size: 14px;
}
.tooltip {
    &.left .tooltip-arrow {
        border-left-color:$black;
    }
    &.right .tooltip-arrow {
        border-right-color:$black;
    }
    &.top .tooltip-arrow {
        border-top-color:$black;
    }

    &.bottom .tooltip-arrow
    {
        border-bottom-color:$black;
    }
}