<template>
    <div class="form-extra-attention">
        <a v-bind:href="modalroute.url" data-toggle="modal"><i class="fa fa-info-circle pull-right"></i></a>
        <h5>Identificeer het formulier</h5>
        <div class="form-identification-form" v-if="this.loading === false">
            <div class="alert alert-danger" v-if="this.hasError === true">
                <span v-if="this.errorType === 1">Vul een geldige URL in om te beginnen.</span>
                <span v-if="this.errorType === 2">Er zijn geen formulieren gevonden, probeer het opnieuw.</span>
            </div>
            <div class="form-group">
                <label class="control-label mb-5 text-left" for="page_url">Automatisch een formulier zoeken</label>
                <div class="input-group">
                    <input class="form-control" id="page_url" name="page_url" v-model="pageUrl">
                    <div class="input-group-btn">
                        <button class="btn btn-primary" v-on:click="getAvailableForms">Formulier zoeken</button>
                    </div>
                </div>
                <span class="block mt-5" style="font-size: 13px;">Vul de url in waarop het formulier te vinden is en klik op 'formulier zoeken'.</span>
            </div>
        </div>
        <div class="loading-forms" v-if="this.loading === true">
            <p><i class="fa fa-loading"></i> Formulieren worden geladen...</p>
        </div>
        <div class="form-identification-selection" v-if="this.forms !== null">
            <label class="control-label mt-10 text-left">We hebben {{ forms.length }} formulieren gevonden, selecteer het gewenste formulier</label>
            <div class="form-card" style="padding: 15px; border: 1px solid rgba(33, 33, 33, 0.12); background: #fff; margin-top: 15px;" v-for="(form, index) in this.forms">
                <div class="radio radio-primary" style="width: 100%;">
                    <input v-bind:id="'input_' + index" type="radio" name="selected_form" v-bind:value="form.id" style="margin-top: 10px;">
                    <label v-bind:for="'input_' + index" style="width: 100%;">
                        <span style="font-size: 16px; color: #555; font-weight: 400; display: block; margin-top: -8px;">Formulier {{ (index + 1) }}</span>
                        <span style="font-size: 13px; display: block; margin-top: 8px;">
                            Aantal velden: {{ form.fields.length }}
                            <span v-if="form.html_id !== null"> &middot; HTML id: {{ form.html_id }}</span>
                            <span v-if="form.html_name !== null"> &middot; HTML name: {{ form.html_name }}</span>
                        </span>
                        <a href="javascript:void(0);" v-on:click="showFields = (showFields === index ? -1 : index)" class="pull-right" style="font-size: 13px; margin-top: -20px;">Bekijk velden <i class="fa fa-caret-up ml-5" v-if="showFields === index"></i><i class="fa fa-caret-down ml-5" v-if="showFields !== index"></i></a>
                    </label>
                </div>
                <ul v-if="showFields === index" style="margin: 10px -15px -15px; border-top: 1px solid rgba(33, 33, 33, 0.12); padding: 15px;">
                    <li v-for="field in form.fields" style="line-height: 26px;"><strong>{{ field.type }}:</strong> {{ (field.label ? field.label : (field.placeholder ? field.placeholder : (field.name ? field.name : field.id))) }}</li>
                </ul>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['modalroute'],
        data() {
            return {
                loading: false,
                forms: null,
                pageUrl: null,
                hasError: false,
                errorType: 0,
                showFields: -1
            }
        },
        methods: {
            getAvailableForms: function(e) {
                e.preventDefault();

                //reset current forms
                this.forms = null;

                //check input
                if (this.pageUrl === null) {
                    //TODO: URL check
                    this.hasError = true;
                    this.errorType = 1;
                    return false;
                }

                //show loading screen
                this.loading = true;
                this.hasError = false;

                this.loadForms();
            },
            loadForms: function() {
                //load forms from HTML page
                axios.post('/ajax/load-forms', { url: this.pageUrl }).then((response) => {
                    this.loading = false;
                    this.forms = response.data.forms;
                    this.showFields = -1;

                    //no forms
                    if (this.forms.length === 0) {
                        this.forms = null;
                        this.errorTypeTwo();
                    }
                }).catch(error => {
                    //error
                    this.errorTypeTwo();

                    console.log(error);
                });
            },
            errorTypeTwo: function() {
                this.loading = false;
                this.hasError = true;
                this.errorType = 2;
            }
        }
    }
</script>
