<template>
    <div>
        <ul id="question-list" class="list-unstyled">
            <question
					v-for="(question, index) in allQuestions"
					v-on:deleteQuestion="deleteQuestion(index)"
					:key="index"
					v-bind:question="question"
					v-bind:index="index"
					v-bind:questions="allQuestions"
					v-bind:question-type="getQuestionType(question.type)"
					v-bind:survey-type="surveyType"
			></question>
        </ul>
        <div class="form-group" v-if="surveyType !== 'poll'">
            <div class="control-label mb-10">Vraag toevoegen</div>
            <div class="input-group">
                <div class="input-group-btn">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">{{ questionType.text }} <span class="caret ml-15"></span></button>
                    <ul class="dropdown-menu">
                        <li v-for="type in questionTypes"><a href="javascript:void(0)" @click.prevent="setQuestionType(type)">{{ type.text }}</a></li>
                    </ul>
                </div>
                <input type="text" class="form-control" v-model="question" />
                <div class="input-group-btn">
                    <a href="javascript:void(0);" type="button" class="btn btn-primary" @click.prevent="addQuestion"><span class="fa fa-plus mr-10"></span> Toevoegen</a>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import Question from './Question.vue';

    export default {
        components: {
            Question
        },
        props: [
            'questionTypes',
			'questions',
			'surveyType',
		],
        data() {
            return {
                allQuestions: [],
                questionType: {'type': 'text', 'text': 'Tekstvraag'},
                question: ''
            }
        },
        mounted() {
            this.allQuestions = this.questions;
        },
        methods: {
            getQuestionType(type) {
                let result = this.questionTypes.filter(function(obj) {
                    return obj.type == type;
                });
                return result[0];
            },
            addQuestion() {
                let question = {'answers': [], 'rating_type': 'text', 'after_action': '-1'};
                question.type = this.questionType.type;
                question.question = this.question;

                this.allQuestions.push(question);

                this.question = '';
                this.questionType = this.questionTypes[0];
            },
            setQuestionType(type) {
                this.questionType = type;
            },
            deleteQuestion(index) {
                this.questions.splice(index, 1);
            }
        }
    }
</script>
