<template>
    <li class="panel panel-default">
        <input type="hidden" v-bind:name="'order[' + index + ']'" v-bind:value="index" class="order-field" />
        <div class="panel-heading">
            <span class="pull-left">
                {{ questionType.text }}:
                <span v-if="editTitle === false" @click.prevent="setEditTitle(true)" class="ml-10" style="border-bottom: 1px dashed #555; cursor: pointer;">{{ question.question }} <span class="fa fa-pencil-alt ml-10"></span></span>

                <span class="ml-10 pull-right" v-show="editTitle === true">
                    <div class="input-group" style="position: absolute; margin-top: -11px; max-width: 100%; width: 400px;">
                        <input class="form-control" type="text" style="border-bottom: 0;" v-bind:name="'question[' + index + ']'" v-model="question.question" />
                        <span class="input-group-btn">
                             <a href="javascript:void(0);" class="btn btn-primary" @click.prevent="setEditTitle(false)"><span class="fa fa-save"></span></a>
                        </span>
                    </div>
                </span>
            </span>
            <span v-if="surveyType !== 'poll'" class="pull-right move-item" style="cursor: move; font-size: 13px;"><span class="fa fa-arrows-alt mr-5"></span> Volgorde wijzigen</span>
            <div class="clearfix"></div>
        </div>
        <input type="hidden" v-bind:name="'type[' + index + ']'" v-model="question.type" />
        <input v-if="question.id" type="hidden" v-bind:name="'id[' + index + ']'" v-model="question.id" />

        <div class="panel-body" v-if="questionType.type === 'rating'">
            <div class="col-md-12">
                <div class="form-group">
                    <label class="block control-label text-left mb-10" v-bind:for="'intro' + index">Inleiding</label>
                    <input class="form-control" type="text" v-model="question.intro" v-bind:name="'intro[' + index + ']'" v-bind:id="'intro' + index">
                </div>
                <div class="form-group">
                    <label class="block control-label text-left mb-10"  v-bind:for="'rating_type_text_' + index"><input type="radio" v-bind:name="'rating_type[' + index + ']'" class="mr-10" v-bind:id="'rating_type_text_' + index" value="text" v-model="question.rating_type" /> Rating met cijfers</label>
                    <div class="row ml-5" style="max-width: 600px;">
                        <div class="col-md-12">
                            <div style="display: flex; justify-content: space-between;">
                                <span v-for="i in 11" class="mt-10 mb-25" style="background: #727272; width: 40px; height: 40px; color: #fff; text-align: center; line-height: 40px;">{{ i - 1 }}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="block control-label text-left mb-10" v-bind:for="'rating_type_image_' + index"><input type="radio" v-bind:name="'rating_type[' + index + ']'" class="mr-10" v-bind:id="'rating_type_image_' + index" value="image" v-model="question.rating_type" /> Rating met smileys</label>
                    <div class="row ml-5" style="max-width: 600px;">
                        <div class="col-md-12">
                            <div style="display: flex; justify-content: space-between;">
                                <img v-for="i in 5" v-bind:src="'/assets/backend/images/ratings/' + i + '.png'" alt="" style="max-width: 60px;" class="mt-10 mb-25" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="block control-label text-left mb-10">Rating labels</label>
                    <div class="row" style="max-width: 600px;">
                        <div class="col-md-6">
                            <input type="text" class="form-control" v-bind:name="'rating_label_start[' + index + ']'" v-model="question.rating_label_start" placeholder="Zeer ontevreden" style="max-width: 250px;" />
                        </div>
                        <div class="col-md-6">
                            <input type="text" class="form-control pull-right" v-bind:name="'rating_label_end[' + index + ']'" v-model="question.rating_label_end" placeholder="Heel tevreden" style="max-width: 250px;" />
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel-body" v-if="questionType.type === 'info'">
            <div class="col-md-12">
                <div class="form-group">
                    <label class="block control-label text-left mb-10" v-bind:for="'intro' + index">Tekst</label>
                    <input class="form-control" type="text" v-model="question.intro" v-bind:name="'intro[' + index + ']'" v-bind:id="'intro' + index">
                </div>
                <div class="form-group">
                    <label class="block control-label text-left mb-10" v-bind:for="'button_next' + index">Tekst op 'Volgende' button</label>
                    <input class="form-control" type="text" placeholder="Volgende" v-model="question.button_next" v-bind:name="'button_next[' + index + ']'" v-bind:id="'button_next' + index">
                </div>
            </div>
        </div>

        <div class="panel-body" v-if="questionType.type === 'text'">
            <div class="col-md-12">
                <div class="form-group">
                    <label class="block control-label text-left mb-10" v-bind:for="'intro' + index">Inleiding</label>
                    <input class="form-control" type="text" v-model="question.intro" v-bind:name="'intro[' + index + ']'" v-bind:id="'intro' + index">
                </div>
                <div class="form-group">
                    <input type="checkbox" class="js-switch" data-color="#4aa23c" v-bind:name="'multi_line[' + index + ']'" v-bind:id="'multi_line' + index" v-model="question.multi_line" />
                    <label class="control-label text-left mb-10" style="position: relative; top: 8px;" v-bind:for="'multi_line' + index">Meerdere regels tekst als antwoord mogelijk</label>
                </div>
            </div>
        </div>

        <div class="panel-body" v-if="questionType.type === 'multi'">
            <div class="col-md-12">
                <div class="form-group">
                    <label class="block control-label text-left mb-10" v-bind:for="'intro' + index">Inleiding</label>
                    <input class="form-control" type="text" v-model="question.intro" v-bind:name="'intro[' + index + ']'" v-bind:id="'intro' + index">
                </div>
                <div class="form-group">
                    <label class="block control-label text-left mb-10">Antwoorden</label>
                    <div class="input-group mb-10" v-for="(answer, answer_index) in answers">
                        <input v-if="answer.id" type="hidden" v-bind:name="'answer_id[' + index + '][' + answer_index + ']'" v-model="answer.id" />
                        <input type="text" class="form-control" v-bind:name="'answer[' + index + '][' + answer_index + ']'" v-model="question.answers[answer_index].answer" />
                        <div class="input-group-btn" v-if="question.multi_select !== true && surveyType !== 'poll'">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Na dit antwoord: <span v-bind:id="'after_action_' + index + '_' + answer_index + '_text'">Volgende vraag</span> <span class="caret ml-15"></span></button>
                            <ul class="dropdown-menu">
                                <li><a href="javascript:void(0)" @click="setAfterActionByIndex(-1, answer_index)" v-bind:id="'after_action_option_' + index + '_' + answer_index + '_-1'">Volgende vraag</a></li>
                                <li v-for="(after_question, after_questions_index) in questions">
                                    <a href="javascript:void(0)" @click="setAfterActionByIndex(after_questions_index, answer_index)" v-bind:id="'after_action_option_' + index + '_' + answer_index + '_' + after_questions_index">'{{ after_question.question }}'</a>
                                </li>
                                <li><a href="javascript:void(0)" @click="setAfterActionByIndex(-2, answer_index)" v-bind:id="'after_action_option_' + index + '_' + answer_index + '_-2'">Sluiten</a></li>
                            </ul>
                        </div>
                        <div class="input-group-btn">
                            <a class="btn btn-danger" @click.prevent="removeAnswer(answer_index)"><i class="fa fa-trash-alt"></i></a>
                        </div>
                        <input type="hidden" v-bind:name="'after_action[' + index + '][' + answer_index + ']'" v-bind:id="'after_action_' + index + '_' + answer_index" v-model="question.answers[answer_index].after_action" />
                    </div>
                </div>
                <div class="form-group">
                    <a class="pull-right btn btn-sm btn-primary" @click.prevent="addAnswer"><i class="fa fa-plus mr-10"></i> Antwoord toevoegen</a>
                </div>
                <div class="form-group" v-if="surveyType !== 'poll'">
                    <input type="checkbox" class="js-switch" data-color="#4aa23c" v-bind:name="'multi_select[' + index + ']'" v-bind:id="'multi_select' + index" v-model="question.multi_select" />
                    <label class="control-label text-left mb-10" style="position: relative; top: 8px;" v-bind:for="'multi_select' + index">Meer dan één antwoord mogelijk</label>
                </div>
                <div class="form-group">
                    <input type="checkbox" class="js-switch" data-color="#4aa23c" v-bind:name="'random_order[' + index + ']'" v-bind:id="'random_order' + index" v-model="question.random_order" />
                    <label class="control-label text-left mb-10" style="position: relative; top: 8px;" v-bind:for="'random_order' + index">Toon antwoorden in willekeurige volgorde</label>
                </div>
            </div>
        </div>

        <div class="panel-footer" v-if="surveyType !== 'poll'">
			<template v-if="(question.type !== 'multi' || question.multi_select === true)">
				<label class="control-label pull-left mr-15" style="line-height: 40px;">Na deze vraag:</label>
				<select v-bind:name="'after_action_question[' + index + ']'" v-model="question.after_action" class="form-control" style="float: left; display: block; width: 100%; max-width: 600px;">
					<option value="-1">Volgende vraag</option>
					<option v-for="(questionItem, indexItem) in questions" v-bind:value="indexItem" v-if="indexItem !== index">Ga naar: {{ questionItem.question }}</option>
					<option value="-2">Sluiten</option>
				</select>
			</template>
            <a class="pull-right txt-danger" style="font-size: 13px; line-height: 40px;" href="javascript:void(0);" @click.prevent="deleteQuestion"><span class="fa fa-trash mr-5"></span> Vraag verwijderen</a>
            <div class="clearfix"></div>
        </div>
    </li>
</template>

<script>
    export default {
        props: [
            'question',
            'questionType',
            'index',
            'questions',
			'surveyType',
        ],
        data() {
            return {
                'answers': this.getAnswers(),
                'updateActions': false,
                'editTitle': false
            };
        },
        mounted() {
            updateSwitchery();
            this.setAfterActionInitial(true);
        },
        updated() {
            if (this.updateActions === true) {
                this.setAfterActionInitial(false);
                this.updateActions = false;
            }

            this.updateAnswers();

            updateSwitchery();
        },
        methods: {
            setAfterActionInitial(id) {
                let _this = this;

                this.question.answers.forEach(function(answer, key) {
                    if (id === false || answer.after_action < 0) {
						_this.setAfterActionByIndex(answer.after_action, key);
					} else {
                        _this.setAfterActionById(answer.after_action, key);
					}
                });
            },
            getAnswers() {
                this.updateAnswers();

                return this.question.answers;
            },
            updateAnswers() {
                if (this.question.type === 'multi' && this.question.answers.length < 2) {
                    for (let i = this.question.answers.length; i < 2; i++) {
                        this.addAnswer();
                    }
                }
            },
            addAnswer() {
                this.question.answers.push({'after_action': -1});
            },
            removeAnswer(index) {
                this.question.answers.splice(index, 1);
                this.updateActions = true;
            },
            setAfterActionById(questionId, answer_index) {
                if (this.question.type === 'multi') {
                    let currentIndex = 0;

                    if (questionId < 0) {
                        currentIndex = questionId;
                    } else {
                        let index = this.questions.findIndex(function (item) {
                            return item.id === questionId;
                        });

                        currentIndex = (index >= 0 ? index : -1);
                    }

                    return this.setAfterActionByIndex(currentIndex, answer_index);
                }
            },
            setAfterActionByIndex(index, answer_index) {
                if (this.question.type === 'multi') {
                    let currentIndex = 0;

                    if (index < 0) {
                        currentIndex = index;
                    } else {
                        currentIndex = (index >= 0 ? index : -1);
                    }

                    let element = document.getElementById('after_action_option_' + this.index + '_' + answer_index + '_' + currentIndex);
                    if (element !== null) {
                        document.getElementById('after_action_' + this.index + '_' + answer_index).value = currentIndex;
                        document.getElementById('after_action_' + this.index + '_' + answer_index + '_text').innerHTML = element.innerHTML;
                    }

                    this.question.answers[answer_index].after_action = currentIndex;

                    return currentIndex;
                }
			},
            getQuestionText(type) {
                return this.questionType.filter(function(obj) {
                    return (obj.type === type ? obj.text : false);
                });
            },
            setEditTitle(value) {
                this.editTitle = value;
            },
            deleteQuestion() {
                this.$emit('deleteQuestion', this.index);
            }
        }
    }
</script>
