<template>
    <div class="row">
        <div class="col-md-6">
            <div class="panel-group accordion-struct" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                    <div class="panel-heading activestate" role="tab">
                        <a role="button" data-toggle="collapse" href="#header-style"><h5>Header en logo</h5></a>
                    </div>
                    <div id="header-style" class="panel-body panel-collapse in collapse" role="tabpanel" aria-expanded="true">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label mb-5 text-left" for="header_background_color">Kleur van achtergrond</label>
                                    <div class="input-group colorpicker-component">
                                        <input class="form-control colorpicker" v-model="siteStyle.header_background_color" id="header_background_color" name="header_background_color">
                                        <span class="input-group-addon"><i></i></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label mb-5 text-left" for="header_text_color">Kleur van tekst</label>
                                    <div class="input-group colorpicker-component">
                                        <input class="form-control colorpicker" v-model="siteStyle.header_text_color" id="header_text_color" name="header_text_color">
                                        <span class="input-group-addon"><i></i></span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12 styling-cards">
                                <div class="col-md-6 styling-card">
                                    <input id="header_type_text" type="radio" name="header_type" value="text" v-model="siteStyle.header_type" />
                                    <label class="card-header" for="header_type_text">
                                        Header met tekst
                                    </label>
                                    <div class="form-group">
                                        <label class="control-label mb-5 text-left" for="header_text">Tekst</label>
                                        <input class="form-control" v-model="siteStyle.header_text" id="header_text" name="header_text">
                                    </div>
                                </div>

                                <div class="col-md-6 styling-card">
                                    <input id="header_type_logo" type="radio" name="header_type" value="logo" v-model="siteStyle.header_type" />
                                    <label class="card-header" for="header_type_logo">
                                        Header met logo
                                    </label>
                                    <div class="form-group">
                                        <label class="control-label mb-5 text-left" for="header_logo">Logo</label>
                                        <input type="file" name="header_logo" id="header_logo" class="dropify" data-allowed-file-extensions="jpg jpeg png" data-max-file-size="2M" data-height="100" v-bind:data-default-file="siteStyle.header_logo" />
                                        <input type="hidden" name="header_logo_deleted" id="header_logo_deleted" value="false" />
                                        <span style="font-size: 12px;">JPG of PNG, max. 2MB. Weergave is maximaal 240 x 50 pixels.</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading" role="tab">
                        <a class="collapsed" role="button" data-toggle="collapse" href="#screen-style"><h5>Venster opmaak</h5></a>
                    </div>
                    <div id="screen-style" class="panel-body panel-collapse collapse" role="tabpanel" aria-expanded="false">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label mb-5 text-left" for="survey_background_color">Kleur van achtergrond</label>
                                    <div class="input-group colorpicker-component">
                                        <input class="form-control colorpicker" v-model="siteStyle.survey_background_color" id="survey_background_color" name="survey_background_color">
                                        <span class="input-group-addon"><i></i></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label mb-5 text-left" for="survey_border_color">Kleur van omlijning</label>
                                    <div class="input-group colorpicker-component">
                                        <input class="form-control colorpicker" v-model="siteStyle.survey_border_color" id="survey_border_color" name="survey_border_color">
                                        <span class="input-group-addon"><i></i></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-5">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label mb-5 text-left" for="survey_text_color">Kleur tekst in venster</label>
                                    <div class="input-group colorpicker-component">
                                        <input class="form-control colorpicker" v-model="siteStyle.survey_text_color" id="survey_text_color" name="survey_text_color">
                                        <span class="input-group-addon"><i></i></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label mb-5 text-left" for="survey_text_align">Uitlijning tekst</label>
                                    <select class="form-control" id="survey_text_align" name="survey_text_align" v-model="siteStyle.survey_text_align">
                                        <option value="default">Standaard</option>
                                        <option value="right">Rechts</option>
                                        <option value="center">Midden</option>
                                        <option value="left">Links</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-5">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label mb-5 text-left" for="answer_background_color">Kleur achtergrond van antwoord</label>
                                    <div class="input-group colorpicker-component">
                                        <input class="form-control colorpicker" v-model="siteStyle.answer_background_color" id="answer_background_color" name="answer_background_color">
                                        <span class="input-group-addon"><i></i></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label mb-5 text-left" for="answer_text_color">Kleur tekst van antwoord</label>
                                    <div class="input-group colorpicker-component">
                                        <input class="form-control colorpicker" v-model="siteStyle.answer_text_color" id="answer_text_color" name="answer_text_color">
                                        <span class="input-group-addon"><i></i></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label mb-5 text-left" for="survey_position">Positie venster</label>
                                    <select class="form-control" id="survey_position" name="survey_position" v-model="siteStyle.survey_position">
                                        <option value="default">Standaard</option>
                                        <option value="right">Rechts</option>
                                        <option value="left">Links</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading" role="tab">
                        <a class="collapsed" role="button" data-toggle="collapse" href="#feedbackbutton-style"><h5>Feedbackbutton opmaak</h5></a>
                    </div>
                    <div id="feedbackbutton-style" class="panel-body panel-collapse collapse" role="tabpanel" aria-expanded="false">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label mb-5 text-left" for="feedbackbutton_background_color">Kleur van achtergrond</label>
                                    <div class="input-group colorpicker-component">
                                        <input class="form-control colorpicker" v-model="siteStyle.feedbackbutton_background_color" id="feedbackbutton_background_color" name="feedbackbutton_background_color">
                                        <span class="input-group-addon"><i></i></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label mb-5 text-left" for="feedbackbutton_text_color">Kleur van tekst</label>
                                    <div class="input-group colorpicker-component">
                                        <input class="form-control colorpicker" v-model="siteStyle.feedbackbutton_text_color" id="feedbackbutton_text_color" name="feedbackbutton_text_color">
                                        <span class="input-group-addon"><i></i></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading" role="tab">
                        <a class="collapsed" role="button" data-toggle="collapse" href="#button-style"><h5>Buttons opmaak</h5></a>
                    </div>
                    <div id="button-style" class="panel-body panel-collapse collapse" role="tabpanel" aria-expanded="false">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label mb-5 text-left" for="button_background_color">Kleur van achtergrond</label>
                                    <div class="input-group colorpicker-component">
                                        <input class="form-control colorpicker" v-model="siteStyle.button_background_color" id="button_background_color" name="button_background_color">
                                        <span class="input-group-addon"><i></i></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label mb-5 text-left" for="button_text_color">Kleur van tekst</label>
                                    <div class="input-group colorpicker-component">
                                        <input class="form-control colorpicker" v-model="siteStyle.button_text_color" id="button_text_color" name="button_text_color">
                                        <span class="input-group-addon"><i></i></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label mb-5 text-left" for="button_align">Uitlijning button</label>
                                    <select class="form-control" id="button_align" name="button_align" v-model="siteStyle.button_align">
                                        <option value="default">Standaard</option>
                                        <option value="wide">Volledige breedte</option>
                                        <option value="right">Rechts</option>
                                        <option value="left">Links</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading" role="tab">
                        <a class="collapsed" role="button" data-toggle="collapse" href="#advanced-style"><h5>Geavanceerde opmaak</h5></a>
                    </div>
                    <div id="advanced-style" class="panel-body panel-collapse collapse" role="tabpanel" aria-expanded="false">
                        <div class="form-group">
                            <label class="control-label mb-5 text-left" for="advanced_styling">Extra CSS</label>
                            <textarea class="form-control" v-model="siteStyle.advanced_styling" name="advanced_styling" id="advanced_styling"></textarea>
                            <span style="font-size: 12px;">Het survey venster wordt geladen met ID #surve, deze kunt u gebruiken om onderdelen te stylen.</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group mb-0 mt-15">
                <button class="btn btn-primary">Wijzigen</button>
            </div>
        </div>
        <div class="col-md-6">
            <survey-preview v-bind:site="siteStyle"></survey-preview>
        </div>
    </div>
</template>

<script>
    import Preview from './SurveyPreview.vue';

    export default {
        components: {
            Preview
        },
        props: ['site'],
        data() {
            return {
                'siteStyle': []
            }
        },
        mounted() {
            this.siteStyle = this.site;
            let self = this;

            $(document).ready(function() {
                self.setColorPickers();

                let dropify = $('.dropify').dropify({
                    messages: {
                        default: 'Sleep uw logo hierheen',
                        replace: 'Vervangen',
                        remove: 'Verwijder',
                        error: 'Er is een fout opgetreden'
                    },
                    tpl: {
                        filename: '<p class="dropify-filename"><span class="file-icon"></span></p>'
                    }
                });

                dropify.on('dropify.fileReady', function(event, element, image) {
                    self.setLogo(image);
                });

                dropify.on('dropify.afterClear', function() {
                    self.setLogo('');
                    document.querySelector('#header_logo_deleted').value = 'true';
				});
            });
        },
        methods: {
            setColorPickers() {
                let self = this;

                $('.colorpicker-component', this.$el).colorpicker({
                    format: 'hex',
                    useAlpha: false,
                    autoInputFallback: false
                }).on('change', function(e) {
                    self.colorChanged(e.target.id);
                });
            },
            colorChanged(id) {
                let field = document.querySelector('#' + id);

                Vue.set(this.siteStyle, id, field.value);
            },
            setLogo(image) {
                Vue.set(this.siteStyle, 'header_logo', image);
            }
        }
    }
</script>
