<template>
	<div>
		<div class="preview" style="position: relative;">
			<div id="surve-modal-wrapper">
				<div id="surve" v-show="previewType === 'survey'">
					<div id="surve-modal" style="display: block;" v-bind:style="{ borderColor: site.survey_border_color, left: (site.survey_position === 'left' ? '20px' : 'auto'), right: (site.survey_position === 'right' || site.survey_position === 'default' ? '20px' : 'auto') }">
						<div class="surve-modal" v-bind:style="{ backgroundColor: site.survey_background_color }">
							<div class="surve-modal-title" v-bind:style="{ backgroundColor: site.header_background_color }">
								<div style="display: inline-block; margin-top: 6px;" v-if="site.header_type === 'logo'" >
									<img v-bind:src="site.header_logo" style="margin-top: -9px; max-width: 240px; max-height: 50px;">
								</div>
								<div style="display: inline-block; margin-bottom: 6px;" v-if="site.header_type === 'text'" v-bind:style="{ color: site.header_text_color }">
									{{ site.header_text }}
								</div>
								<div id="surve-close">
									<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 348.3 348.3">
										<path d="M336.6 68.6L231 174.2l105.5 105.5c15.7 15.7 15.7 41.1 0 56.9 -7.8 7.8-18.1 11.8-28.4 11.8 -10.3 0-20.6-3.9-28.4-11.8L174.2 231 68.6 336.6c-7.8 7.8-18.1 11.8-28.4 11.8 -10.3 0-20.6-3.9-28.4-11.8 -15.7-15.7-15.7-41.1 0-56.9l105.5-105.5L11.8 68.6c-15.7-15.7-15.7-41.1 0-56.8 15.7-15.7 41.1-15.7 56.8 0l105.6 105.6L279.7 11.8c15.7-15.7 41.1-15.7 56.8 0C352.3 27.5 352.3 52.9 336.6 68.6z" v-bind:fill="site.header_text_color"></path>
									</svg>
								</div>
							</div>
							<div class="surve-modal-body">
								<h3 id="surve-question" v-bind:style="{ color: site.survey_text_color, textAlign: surveyTextAlign }">Heeft u gevonden wat u zocht?</h3>
								<p id="surve-intro" v-bind:style="{ color: site.survey_text_color, textAlign: surveyTextAlign }">Laat ons weten of alles duidelijk is, zo verbeteren wij continu onze website.</p>
								<div style="clear: both"></div>
								<form v-bind:style="{ textAlign: surveyTextAlign }">
									<input class="surve-radio-multi" value="1" type="radio" id="surve_id_2" name="surve_input_radio">
									<label for="surve_id_2" v-bind:style="{color: site.answer_text_color, backgroundColor: site.answer_background_color }">Ja, alles is duidelijk.</label>
									<input class="surve-radio-multi" value="0" type="radio" id="surve_id_1" name="surve_input_radio">
									<label for="surve_id_1" v-bind:style="{color: site.answer_text_color, backgroundColor: site.answer_background_color }">Nee, ik kan het niet vinden.</label>
									<input class="surve-radio-multi" value="2" type="radio" id="surve_id_3" name="surve_input_radio">
									<label for="surve_id_3" v-bind:style="{color: site.answer_text_color, backgroundColor: site.answer_background_color }">Nee, ik zoek naar:</label>
									<p class="surve-button-wrapper">
										<input id="surve-submit" value="Versturen" @click.prevent="" type="submit" v-bind:style="{color: site.button_text_color, backgroundColor: site.button_background_color, width: (site.button_align === 'wide' ? '100%' : 'auto'), float: (site.button_align === 'wide' ? 'none' : site.button_align) }">
									</p>
								</form>
								<a href="https://www.surve.nl" @click.prevent="" class="promo-link" style="display: block!important;">Powered by Surve.nl</a>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div id="surve-feedback" v-show="previewType === 'feedbackButton'">
				<div v-bind:style="{color: site.feedbackbutton_text_color, backgroundColor: site.feedbackbutton_background_color }">
					Feedback
				</div>
			</div>

			<div id="surve-bar" v-show="previewType === 'mobileBar'" v-bind:style="{ backgroundColor: site.survey_background_color, borderColor: site.survey_border_color }">
				<div class="surve-bar-inner" v-bind:style="{ color: site.survey_text_color }">
					<span class="surve-bar-title" id="surve-bar-title">Mogen wij u iets vragen?</span>
					<span class="surve-bar-subtitle" id="surve-bar-subtitle">Met uw hulp verbeteren wij onze website voor u en andere bezoekers.</span>
				</div>

				<div class="surve-buttons">
					<a class="surve-bar-btn" id="surve-bar-yes" v-bind:style="{ backgroundColor: site.button_background_color, color: site.button_text_color }">Ja</a>
					<a class="surve-bar-btn" id="surve-bar-no" v-bind:style="{ backgroundColor: site.button_background_color, color: site.button_text_color }">Nee</a>
				</div>
			</div>
		</div>

		<a href="#" @click.prevent="setPreviewType('survey')" class="btn mt-15 mr-10" v-bind:class="{ 'btn-primary': (previewType === 'survey'), 'btn-default': (previewType !== 'survey')}">Bekijk venster</a>
		<a href="#" @click.prevent="setPreviewType('feedbackButton')" class="btn mt-15 mr-10" v-bind:class="{ 'btn-primary': (previewType === 'feedbackButton'), 'btn-default': (previewType !== 'feedbackButton')}">Bekijk feedbackbutton</a>
		<a href="#" @click.prevent="setPreviewType('mobileBar')" class="btn mt-15" v-bind:class="{ 'btn-primary': (previewType === 'mobileBar'), 'btn-default': (previewType !== 'mobileBar')}">Bekijk mobiele bar</a>
	</div>
</template>

<script>
    export default {
        props: ['site'],
        data() {
            return {
                'sheet': function() {},
				'cssIndex': -1,
				'previewType': 'survey'
			}
        },
        mounted() {
            document.getElementById('surve-modal').style.display = 'block';

            let feedback = document.getElementById('surve-feedback').style;
            feedback.float = 'right';
            feedback.marginTop = '350px';
            feedback.position = 'relative';
            feedback.top = '0';

            this.sheet = (function() {
                let style = document.createElement("style");
                style.appendChild(document.createTextNode(""));
                document.head.appendChild(style);
                return style.sheet;
            })();
        },
		computed: {
            surveyTextAlign() {
                return (this.site.survey_text_align === 'default' ? 'left' : this.site.survey_text_align);
			},
			advancedStyling() {
                if (this.site.advanced_styling == null) { return null; }

                /**
				 * Clean new lines out of the css, put it all on 1 line.
                 */
                return this.site.advanced_styling.replace(/(\r\n\t|\n|\r\t)/gm,"");
			}
		},
		watch: {
            advancedStyling: function() {
                if (this.advancedStyling !== null && this.advancedStyling.length > 0) {
                    /**
					 * Clean out stylesheet everytime
					 */
					this.emptyCssSheet();

                    /**
					 * Every rules ends with }, so split it up in multiple rules
                     */
					let rules = this.advancedStyling.split("}");

                    /**
					 * Looop trough rules & add rules
                     */
					for (let r = 0; r < rules.length; r++) {
                        /**
						 * Try to add rule, if invalid -> catch error
                         */
						try {
							this.sheet.insertRule(rules[r] + '}', this.sheet.cssRules.length);
						} catch(err) {
							//console.log(err);
						}
					}
                    /**
					 * Used cleaned editor, empty stylesheet
                     */
                } else if (this.sheet.cssRules.length > 0) {
                    this.emptyCssSheet();
				}
			}
		},
        methods: {
            setPreviewType(type) {
                this.previewType = type;
			},
			emptyCssSheet() {
                for (let i = 0; i < this.sheet.cssRules.length; i++) {
                    this.sheet.deleteRule(i);
                }
			}
		}
    }
</script>
